{
  "openapi": "3.0.0",
  "info": {
    "title": "1club Platform API",
    "version": "1.0.0",
    "description": "The 1club Platform API lets you programmatically access and manage your organization's data.\n\n## Official API Contract\n\nThis documentation is the official source of truth for the 1club Platform API.\nIf an integration relies on undocumented endpoints, fields, response shapes, or internal behavior outside this spec, we can't guarantee backward compatibility.\nBuild against what's documented here to stay stable as the platform evolves.\n\n## Authentication\n\nAll requests require a customer API key passed as a Bearer token:\n\n```\nAuthorization: Bearer 1club_sk_live_...\n```\n\nGenerate API keys from the admin portal under **Settings > API Tokens**.\nThe key is tied to your organization - all responses are scoped to your org's data.\n\n## Rate Limiting\n\n- **100 requests per minute** per API key\n- When exceeded, the API returns `429 Too Many Requests` with a `Retry-After` header\n- Rate limit headers are included in every response:\n  - `X-RateLimit-Limit` - max requests per window\n  - `X-RateLimit-Remaining` - requests remaining\n  - `X-RateLimit-Reset` - seconds until the window resets\n\n## Errors\n\n| Status | Meaning |\n|--------|---------|\n| `400` | Invalid request parameters |\n| `401` | Missing or invalid API key |\n| `404` | Resource not found (or doesn't belong to your organization) |\n| `429` | Rate limit exceeded |\n| `500` | Internal server error |",
    "contact": {
      "name": "1club API Support",
      "email": "support@1club.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.1club.ai",
      "description": "Production API"
    }
  ],
  "components": {
    "securitySchemes": {
      "customerApiAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Organization-scoped bearer credential: a customer API key (1club_sk_live_...) or an MCP OAuth access token."
      }
    },
    "schemas": {
      "PlatformClassCreate": {
        "type": "object",
        "required": [
          "clubId",
          "name",
          "startTime",
          "endTime"
        ],
        "properties": {
          "clubId": {
            "type": "integer"
          },
          "areaId": {
            "type": "integer",
            "nullable": true
          },
          "classTypeId": {
            "type": "integer",
            "nullable": true
          },
          "instructorIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "maxItems": 20
          },
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 5000
          },
          "priceBeforeTax": {
            "type": "number",
            "minimum": 0,
            "description": "The price to store, excluding tax - the same field reads return. The tax-inclusive `price` a class reads back with is computed and cannot be written: sending it is a 400, because posting it back would re-apply tax on every round trip."
          },
          "isFree": {
            "type": "boolean"
          },
          "maxCapacity": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 instant with an explicit offset."
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 instant with an explicit offset."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Private",
              "Member_only",
              "Public"
            ]
          },
          "sport": {
            "type": "string",
            "nullable": true,
            "maxLength": 60
          },
          "color": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{6}$"
          }
        }
      },
      "PlatformClassUpdate": {
        "type": "object",
        "properties": {
          "clubId": {
            "type": "integer"
          },
          "areaId": {
            "type": "integer",
            "nullable": true
          },
          "classTypeId": {
            "type": "integer",
            "nullable": true
          },
          "instructorIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "maxItems": 20
          },
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 5000
          },
          "priceBeforeTax": {
            "type": "number",
            "minimum": 0,
            "description": "The price to store, excluding tax - the same field reads return. The tax-inclusive `price` a class reads back with is computed and cannot be written: sending it is a 400, because posting it back would re-apply tax on every round trip."
          },
          "isFree": {
            "type": "boolean"
          },
          "maxCapacity": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 instant with an explicit offset."
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 instant with an explicit offset."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Private",
              "Member_only",
              "Public"
            ]
          },
          "sport": {
            "type": "string",
            "nullable": true,
            "maxLength": 60
          },
          "color": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{6}$"
          },
          "notifyCustomer": {
            "type": "boolean",
            "default": false,
            "description": "Tell the people booked on this class what changed - email plus the in-app and WhatsApp notification. Only sent when the edit changes something visible on their booking (start/end time, area, club, or the instructors); a rename or a price change notifies nobody. Off by default, so callers normally send their own. Assigned instructors get their calendar update either way."
          }
        }
      },
      "PlatformPlanCreate": {
        "type": "object",
        "required": [
          "name",
          "price"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 5000
          },
          "clubId": {
            "type": "integer",
            "nullable": true
          },
          "price": {
            "type": "number",
            "minimum": 0
          },
          "signupFee": {
            "type": "number",
            "minimum": 0
          },
          "billingFrequency": {
            "type": "string",
            "enum": [
              "one_time",
              "weekly",
              "monthly",
              "quarterly",
              "annually",
              "custom"
            ]
          },
          "customPeriod": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "customPeriodUnit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "days",
              "weeks",
              "months"
            ]
          },
          "isActive": {
            "type": "boolean"
          },
          "maxUses": {
            "type": "number",
            "nullable": true,
            "minimum": 0
          },
          "sessionUnit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "booking",
              "hour"
            ]
          },
          "validityPeriod": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "autoRenews": {
            "type": "boolean"
          },
          "renewalDaysInAdvance": {
            "type": "integer",
            "minimum": 0,
            "maximum": 60
          },
          "requirePaymentUpfront": {
            "type": "boolean"
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 50
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Private",
              "Member_only",
              "Public"
            ]
          },
          "validFor": {
            "type": "object",
            "properties": {
              "scopes": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "classes",
                    "areas",
                    "instructors"
                  ]
                }
              },
              "classTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "areaTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "instructorTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "PlatformPlanUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 5000
          },
          "clubId": {
            "type": "integer",
            "nullable": true
          },
          "price": {
            "type": "number",
            "minimum": 0
          },
          "signupFee": {
            "type": "number",
            "minimum": 0
          },
          "billingFrequency": {
            "type": "string",
            "enum": [
              "one_time",
              "weekly",
              "monthly",
              "quarterly",
              "annually",
              "custom"
            ]
          },
          "customPeriod": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "customPeriodUnit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "days",
              "weeks",
              "months"
            ]
          },
          "isActive": {
            "type": "boolean"
          },
          "maxUses": {
            "type": "number",
            "nullable": true,
            "minimum": 0
          },
          "sessionUnit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "booking",
              "hour"
            ]
          },
          "validityPeriod": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "autoRenews": {
            "type": "boolean"
          },
          "renewalDaysInAdvance": {
            "type": "integer",
            "minimum": 0,
            "maximum": 60
          },
          "requirePaymentUpfront": {
            "type": "boolean"
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 50
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Private",
              "Member_only",
              "Public"
            ]
          },
          "validFor": {
            "type": "object",
            "properties": {
              "scopes": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "classes",
                    "areas",
                    "instructors"
                  ]
                }
              },
              "classTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "areaTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "instructorTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "PlatformInstructor": {
        "type": "object",
        "description": "Public instructor shape returned alongside classes.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "contactId": {
            "type": "integer"
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "typeId": {
            "type": "integer",
            "nullable": true
          },
          "type": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "experience": {
            "type": "string",
            "nullable": true
          },
          "hourlyRate": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "bio": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "EditorJS document for the instructor bio."
          },
          "certifications": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isActive": {
            "type": "boolean"
          },
          "isBookable": {
            "type": "boolean"
          },
          "contact": {
            "type": "object",
            "nullable": true,
            "properties": {
              "name": {
                "type": "string",
                "nullable": true
              },
              "profileImage": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "PlatformClass": {
        "type": "object",
        "description": "One class occurrence. A weekly class materializes a row per session, linked by `recurrenceId` and `occurrenceIndex`, so `id` is what a booking's `classId` points at - and what distinguishes two groups running in the same hour. Read the roster with GET /v1/platform/classes/{id}/bookings.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "classTypeId": {
            "type": "integer",
            "nullable": true
          },
          "classType": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "slug": {
                "type": "string",
                "nullable": true
              },
              "maxPartySize": {
                "type": "integer",
                "nullable": true
              }
            }
          },
          "clubId": {
            "type": "integer"
          },
          "club": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "slug": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "areaId": {
            "type": "integer",
            "nullable": true,
            "description": "Room or court the class occupies, when one is assigned."
          },
          "area": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "durationMinutes": {
            "type": "integer"
          },
          "isMultiDay": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "cancelled"
            ],
            "description": "A cancelled occurrence keeps its bookings and roster."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Public",
              "Member_only",
              "Private"
            ]
          },
          "sport": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "price": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Price including the organization's default tax - what a member is charged."
          },
          "priceBeforeTax": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "The price as stored on the class, before tax."
          },
          "isFree": {
            "type": "boolean"
          },
          "maxCapacity": {
            "type": "integer",
            "nullable": true,
            "description": "Seats; null when uncapped."
          },
          "maxPartySize": {
            "type": "integer",
            "description": "Largest party one booking may bring, from the class type."
          },
          "bookedCount": {
            "type": "integer",
            "description": "Seats taken: attendee bookings plus standalone walk-in check-ins."
          },
          "currentBookings": {
            "type": "integer",
            "description": "Legacy alias of `bookedCount`."
          },
          "spotsLeft": {
            "type": "integer",
            "nullable": true,
            "description": "`maxCapacity - bookedCount`, floored at 0; null when capacity is unlimited."
          },
          "waitlistCount": {
            "type": "integer",
            "description": "Entries waiting (pending or notified)."
          },
          "allowWaitlist": {
            "type": "boolean"
          },
          "timeStatus": {
            "type": "string",
            "enum": [
              "past",
              "upcoming"
            ]
          },
          "availabilityStatus": {
            "type": "string",
            "enum": [
              "available",
              "full"
            ]
          },
          "recurrenceId": {
            "type": "integer",
            "nullable": true,
            "description": "The series this occurrence belongs to; null for a one-off class."
          },
          "occurrenceIndex": {
            "type": "integer",
            "nullable": true,
            "description": "Position within the series, as materialized."
          },
          "recurrence": {
            "type": "object",
            "nullable": true,
            "description": "The series rule, when this occurrence belongs to one.",
            "properties": {
              "id": {
                "type": "integer"
              },
              "frequency": {
                "type": "string",
                "enum": [
                  "daily",
                  "weekly",
                  "monthly"
                ]
              },
              "interval": {
                "type": "integer"
              },
              "daysOfWeek": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "endsType": {
                "type": "string",
                "enum": [
                  "until",
                  "after",
                  "never"
                ]
              },
              "endsDate": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "endsTotalOccurrences": {
                "type": "integer",
                "nullable": true
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "paused",
                  "cancelled"
                ]
              }
            }
          },
          "instructors": {
            "type": "array",
            "description": "Who teaches the occurrence. The instructor's own weekly availability is not included; read it from GET /v1/platform/instructors.",
            "items": {
              "$ref": "#/components/schemas/PlatformInstructor"
            }
          },
          "externalSource": {
            "type": "string",
            "nullable": true,
            "description": "Import provenance - set when the occurrence came from an external system rather than being created in 1club."
          },
          "externalId": {
            "type": "string",
            "nullable": true,
            "description": "The source system's id for this occurrence, for reconciliation against it."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "translations": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Every locale's copy, keyed by language code (e.g. 'es', 'fr'). Returned alongside the `locale`-resolved `name`/`description`, so an integration syncing a multilingual timetable can read all of them in one call."
          }
        }
      },
      "PlatformClassPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformClass"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total classes matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformClassBooking": {
        "type": "object",
        "description": "One attendee of a class occurrence. Class seats are one booking per person, so this is a booking row resolved with the attendee's name, check-in and payment.",
        "properties": {
          "bookingId": {
            "type": "integer"
          },
          "classId": {
            "type": "integer"
          },
          "contactId": {
            "type": "integer",
            "nullable": true,
            "description": "Null for an anonymous seat - a pass sold without naming who would use it. `bookerName` is then who paid for it."
          },
          "contactName": {
            "type": "string",
            "nullable": true
          },
          "bookerName": {
            "type": "string",
            "nullable": true,
            "description": "Who paid, when the seat is anonymous and was sold through an order - so a roster reads \"Anonymous (Ivan Petrov)\" rather than an opaque booking number."
          },
          "contactEmail": {
            "type": "string",
            "nullable": true,
            "description": "Null unless the key also holds `contacts:read` - an email address is contact PII, gated as it is on the contacts resource."
          },
          "status": {
            "type": "string",
            "description": "Booking status (confirmed, pending, checked_in, cancelled)."
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Channel that created it (admin, portal, app, api, kiosk, …)."
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "checkedIn": {
            "type": "boolean",
            "description": "Whether the attendee was checked in for this class."
          },
          "checkedInAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "membershipId": {
            "type": "integer",
            "nullable": true,
            "description": "The membership the seat was drawn from, when it was covered by one."
          },
          "entranceMethod": {
            "type": "string",
            "nullable": true,
            "description": "How the seat was paid for (direct_payment, membership, external_program)."
          },
          "payment": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "paid",
                  "unpaid",
                  "no_charge"
                ],
                "description": "Classified exactly as on `PlatformBooking`. A class seat covered by a membership or an external program is `no_charge` - it owes nothing even though it carries a price - so do not read it as an outstanding balance."
              },
              "amount": {
                "type": "number",
                "nullable": true
              }
            }
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformClassBookingPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformClassBooking"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total attendees matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformClub": {
        "type": "object",
        "description": "A club with its address, contact info, amenities, sports, aggregated images, and average rating.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "logo": {
            "type": "string",
            "nullable": true
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "All images aggregated from the club and its active areas."
          },
          "amenities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Raw amenity IDs stored on the club."
          },
          "amenitiesResolved": {
            "type": "array",
            "description": "Amenities resolved to display objects (id, name, locale-aware).",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "icon": {
                  "type": "string",
                  "nullable": true
                },
                "category": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rating": {
            "type": "object",
            "nullable": true,
            "description": "Average and total of public reviews. Omitted when there are no public reviews.",
            "properties": {
              "average": {
                "type": "number",
                "format": "float"
              },
              "total": {
                "type": "integer"
              }
            }
          },
          "socialProfiles": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Map of social network keys (e.g. 'instagram') to profile URLs."
          }
        }
      },
      "PlatformContent": {
        "type": "object",
        "description": "A content item (FAQ, post, document, block, or how-to guide) for the organization.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "organizationId": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "faq",
              "post",
              "document",
              "block",
              "how-to-guide"
            ]
          },
          "status": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Public",
              "Member_only",
              "Private"
            ]
          },
          "content": {
            "type": "object",
            "description": "Body of the content item. May contain HTML, EditorJS blocks, a summary, and keywords.",
            "properties": {
              "html": {
                "type": "string",
                "nullable": true
              },
              "blocks": {
                "type": "object",
                "nullable": true,
                "additionalProperties": true,
                "description": "EditorJS document."
              },
              "summary": {
                "type": "string",
                "nullable": true
              },
              "keywords": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "excerpt": {
            "type": "string",
            "nullable": true
          },
          "metaTitle": {
            "type": "string",
            "nullable": true
          },
          "metaDescription": {
            "type": "string",
            "nullable": true
          },
          "metaKeywords": {
            "type": "string",
            "nullable": true
          },
          "canonicalUrl": {
            "type": "string",
            "nullable": true
          },
          "template": {
            "type": "string",
            "nullable": true
          },
          "layout": {
            "type": "string",
            "nullable": true
          },
          "customFields": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "featured": {
            "type": "boolean",
            "nullable": true
          },
          "authorId": {
            "type": "integer",
            "nullable": true
          },
          "author": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "profileImage": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "language": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformMedia": {
        "type": "object",
        "description": "An item in the organization's media library. Files are hosted externally (Cloudinary for anything uploaded through the admin editor); this record is the library entry that website sections and content reference by `url`.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "description": "Public URL of the file. Immutable - register a new item to replace a file."
          },
          "name": {
            "type": "string",
            "description": "Display name. Searched, along with altText, when looking an image up by name."
          },
          "altText": {
            "type": "string",
            "nullable": true,
            "description": "Alternative text for screen readers. Also searched."
          },
          "caption": {
            "type": "string",
            "nullable": true
          },
          "mediaType": {
            "type": "string",
            "enum": [
              "image",
              "video"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformWebsiteSection": {
        "type": "object",
        "description": "One section of a page or of the site layout. `config` fields depend on `type` - see GET /v1/platform/website/section-types for the definitions.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Section type, e.g. \"hero\", \"plans\", \"faq\", \"header\"."
          },
          "config": {
            "type": "object",
            "additionalProperties": true
          },
          "translations": {
            "type": "object",
            "additionalProperties": true,
            "description": "Per-locale overrides for the section's translatable string fields, keyed by locale then field: { \"bg\": { \"headline\": \"…\" } }. Config values themselves stay in the default language."
          }
        }
      },
      "PlatformWebsitePage": {
        "type": "object",
        "description": "A page on the website draft.",
        "properties": {
          "slug": {
            "type": "string",
            "description": "URL path segment. The homepage is served at \"/\" regardless of its slug."
          },
          "title": {
            "type": "string"
          },
          "isHomepage": {
            "type": "boolean"
          },
          "sectionCount": {
            "type": "integer"
          },
          "sectionTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sections": {
            "type": "array",
            "description": "Present when fetching a single page; omitted from list responses.",
            "items": {
              "$ref": "#/components/schemas/PlatformWebsiteSection"
            }
          },
          "metaTitle": {
            "type": "string",
            "nullable": true
          },
          "metaDescription": {
            "type": "string",
            "nullable": true
          },
          "ogImage": {
            "type": "string",
            "nullable": true
          },
          "noindex": {
            "type": "boolean",
            "description": "True when the page asks search engines not to index it and is left out of `sitemap.xml`."
          },
          "translations": {
            "type": "object",
            "nullable": true,
            "description": "Per-locale `metaTitle`/`metaDescription` overrides, keyed by locale: { \"bg\": { \"metaTitle\": \"…\" } }. Present when fetching a single page.",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "metaTitle": {
                  "type": "string"
                },
                "metaDescription": {
                  "type": "string"
                }
              }
            }
          },
          "seo": {
            "$ref": "#/components/schemas/PlatformWebsitePageSeo"
          },
          "url": {
            "type": "string",
            "description": "The page's public URL once published."
          }
        }
      },
      "PlatformWebsitePageSeo": {
        "type": "object",
        "description": "What the published page will actually put in its `<head>`, after every fallback has been applied - the authored fields alone do not answer \"is my SEO right?\". Present when fetching a single page. Read-only.",
        "properties": {
          "metaTitle": {
            "type": "string",
            "description": "The `<title>`, after falling back to the page title."
          },
          "metaDescription": {
            "type": "string",
            "nullable": true,
            "description": "After falling back to `seoSettings.siteDescription`."
          },
          "ogImage": {
            "type": "string",
            "nullable": true,
            "description": "After falling back to `seoSettings.defaultOgImage`."
          },
          "canonicalUrl": {
            "type": "string",
            "description": "The `rel=canonical` the default-locale render emits, locale prefix included."
          },
          "indexable": {
            "type": "boolean",
            "description": "Whether search engines are asked to index this page."
          },
          "notIndexableReason": {
            "type": "string",
            "nullable": true,
            "enum": [
              "page_noindex",
              "site_unpublished",
              "site_inactive"
            ],
            "description": "Why `indexable` is false. An unpublished or switched-off site is not indexable however the page is configured."
          },
          "localizedLocales": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Locales carrying their own metaTitle/metaDescription overrides."
          }
        }
      },
      "PlatformWebsite": {
        "type": "object",
        "description": "A website belonging to the organization. Every field here describes the **draft**, except `url`, `published`, `activeReleaseVersion` and `lastPublishedAt`, which describe what the public is currently being served.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "Platform host label - the site answers on `<slug>.1club.me`."
          },
          "domain": {
            "type": "string",
            "nullable": true,
            "description": "Custom domain, when one is pointed at this site."
          },
          "isDefault": {
            "type": "boolean",
            "description": "True for the site an organization-wide caller means by \"the website\". Exactly one per organization."
          },
          "isActive": {
            "type": "boolean",
            "description": "False means the site is switched off and serves nothing publicly, whatever the draft contains."
          },
          "url": {
            "type": "string",
            "description": "Public URL - the custom domain when set, else the platform host."
          },
          "previewUrl": {
            "type": "string",
            "description": "The same site rendered from the unpublished draft - the link to review edits before publishing. Carries a signed grant that expires 24 hours after this response was generated; read the website again for a fresh one. Anyone holding the link can view the draft, so it is shareable without a login but should be treated as sensitive."
          },
          "published": {
            "type": "boolean",
            "description": "Whether the site has ever been published. False means nothing is publicly reachable yet."
          },
          "activeReleaseVersion": {
            "type": "integer",
            "nullable": true
          },
          "lastPublishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "themeSupport": {
            "type": "string",
            "enum": [
              "both",
              "light",
              "dark"
            ],
            "nullable": true
          },
          "defaultTheme": {
            "type": "string",
            "enum": [
              "light",
              "dark",
              "system"
            ],
            "nullable": true
          },
          "supportedLocales": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Locales the site serves, which is what its `hreflang` alternates and `sitemap.xml` advertise. Organization-level - see `PATCH /v1/platform/website`."
          },
          "defaultLocale": {
            "type": "string",
            "nullable": true,
            "description": "Locale served at the site root. Organization-level."
          },
          "seoSettings": {
            "type": "object",
            "description": "Site-wide SEO defaults. Each field is a fallback a page can override.",
            "additionalProperties": false,
            "properties": {
              "siteDescription": {
                "type": "string",
                "description": "Meta-description fallback, and the `description` in the site's structured data."
              },
              "defaultOgImage": {
                "type": "string",
                "description": "Social-share image for pages with no `ogImage` of their own."
              },
              "verification": {
                "type": "object",
                "description": "Search-console ownership tokens, rendered as meta tags on every page.",
                "properties": {
                  "google": {
                    "type": "string"
                  },
                  "bing": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "pages": {
            "type": "array",
            "description": "Present when fetching one website; omitted from the site list.",
            "items": {
              "$ref": "#/components/schemas/PlatformWebsitePage"
            }
          },
          "layout": {
            "type": "object",
            "description": "Header and footer, rendered on every page.",
            "properties": {
              "header": {
                "$ref": "#/components/schemas/PlatformWebsiteSection"
              },
              "footer": {
                "$ref": "#/components/schemas/PlatformWebsiteSection"
              }
            }
          },
          "hasCustomCss": {
            "type": "boolean"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformWebsiteRelease": {
        "type": "object",
        "description": "A published version of the website. The public site renders the release with `isActive: true`.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "version": {
            "type": "integer"
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this release last went live. An ordinary publish amends the active release in place, so this moves while `createdAt` does not."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "PlatformIdentity": {
        "type": "object",
        "description": "Describes the authorized organization, the scopes granted to the bearer credential, and the catalog of available platform resources.",
        "properties": {
          "organization": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              },
              "currency": {
                "type": "string",
                "description": "ISO 4217 code the organization trades in (e.g. \"EUR\"). Every monetary amount on this API - booking `payment.amount`, plan and product prices, transaction totals - is expressed in it, and no other endpoint repeats it. Read it once when you connect."
              }
            }
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scopes granted to the bearer credential - an API key or an MCP OAuth grant - exactly as held (e.g. \"classes:read\"). A full-access key holds the single wildcard scope \"*\"; read `effectiveScopes` to see what that resolves to. An MCP grant never holds \"*\": the wildcard is expanded at consent so each capability can be shown and approved."
          },
          "fullAccess": {
            "type": "boolean",
            "description": "True when the credential holds the wildcard scope \"*\", granting every scope including ones added after it was issued."
          },
          "effectiveScopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The scopes this credential can actually use - identical to `scopes` for a narrow grant, and the full expansion of \"*\" for a full-access key. Check a capability against this list, not `scopes`."
          },
          "resources": {
            "type": "array",
            "description": "Catalog of resources and the actions each supports.",
            "items": {
              "type": "object",
              "properties": {
                "resource": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "actions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "PlatformTransaction": {
        "type": "object",
        "description": "A billing transaction with amounts, payment status, and links to the originating booking or membership.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Stable unguessable identifier. Prefer this over `id` when storing a reference."
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "transactionType": {
            "type": "string",
            "nullable": true,
            "description": "TransactionType enum value (e.g. booking_creation, membership_creation, product_sale, membership_recurrence, etc.)."
          },
          "bookingId": {
            "type": "integer",
            "nullable": true
          },
          "membershipId": {
            "type": "integer",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "pending",
              "paid",
              "void",
              "failed",
              "settled",
              "overdue",
              "partially_paid",
              "refunded",
              "cancelled"
            ]
          },
          "amount": {
            "type": "string",
            "description": "Pre-tax amount as a decimal string (e.g. \"25.00\"). Serialized as a string to preserve precision."
          },
          "taxAmount": {
            "type": "string",
            "description": "Tax portion as a decimal string."
          },
          "totalAmount": {
            "type": "string",
            "description": "Total billed amount as a decimal string (amount + taxAmount)."
          }
        }
      },
      "PlatformBooking": {
        "type": "object",
        "description": "A booking created through the platform API. Recorded with a booking transaction so it counts for revenue, marked paid (settled against the External / API payment method) or unpaid (outstanding) per the caller. Refunds and collection stay with the caller.",
        "properties": {
          "bookingId": {
            "type": "integer",
            "description": "1club booking id"
          },
          "bookingUuid": {
            "type": "string",
            "format": "uuid",
            "description": "Stable unguessable identifier. Prefer this over `bookingId` when storing a reference."
          },
          "status": {
            "type": "string",
            "description": "Booking status (e.g. confirmed, cancelled)"
          },
          "areaId": {
            "type": "integer",
            "nullable": true,
            "description": "Area id"
          },
          "classId": {
            "type": "integer",
            "nullable": true,
            "description": "The class occurrence this booking attends, when it is a class booking. Every attendee holds their own booking row against the same `classId`, and `classes` rows are per-occurrence - so this is what tells two classes running in the same hour apart. Join it against GET /v1/platform/classes, or read the roster with GET /v1/platform/classes/{id}/bookings."
          },
          "eventId": {
            "type": "integer",
            "nullable": true,
            "description": "The event this booking attends, when it is an event booking"
          },
          "instructorId": {
            "type": "integer",
            "nullable": true,
            "description": "Instructor leading the session, when one is attached"
          },
          "contactId": {
            "type": "integer",
            "nullable": true,
            "description": "Contact the booking is for"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "customer": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PlatformContact"
              }
            ],
            "nullable": true,
            "description": "The booking's customer, identical to what GET /v1/platform/contacts/{id} returns. Present only when the request passes `include=customer`, which additionally requires the `contacts:read` scope; `null` when the booking has no contact. Use it to import a window of bookings without a contact lookup per row."
          },
          "payment": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "paid",
                  "unpaid",
                  "no_charge"
                ],
                "description": "`no_charge` means there is nothing to collect: either nothing was ever owed (a free area, an amount of 0) or an entitlement covers it - a membership or external program the attendee already holds, which is why a covered booking can carry a price and still owe nothing. `paid` counts every financially closed transaction status (`paid`, `settled`, `refunded`), and every charge type, not only the one this API records."
              },
              "amount": {
                "type": "number",
                "nullable": true,
                "description": "The booking's recorded price in the organization's currency; `status` is what says whether anything was collectable. Where the price is 0 but a real charge exists - an external program's per-visit fee lives entirely in its transaction - the ledger total is reported instead."
              }
            }
          }
        }
      },
      "PlatformBookingListItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PlatformBooking"
          },
          {
            "type": "object",
            "properties": {
              "clubId": {
                "type": "integer",
                "nullable": true
              },
              "source": {
                "type": "string",
                "nullable": true,
                "description": "Channel that created the booking (api, admin, portal, app, kiosk, network, website, integration)."
              },
              "notes": {
                "type": "string",
                "nullable": true
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "PlatformBookingPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformBookingListItem"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total bookings matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformContact": {
        "type": "object",
        "description": "A contact (customer) in the organization. Reference the `id` as `contactId` when creating a booking.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Stable unguessable identifier. Prefer this over `id` when storing a reference."
          },
          "name": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "Derived contact type (e.g. contact, member, lead)."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformContactPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformContact"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total contacts matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformInstructorSummary": {
        "type": "object",
        "description": "An instructor (coach) in the organization, as returned by the instructors resource. Reference the `id` as `instructorId` when creating a booking. Leaner than the `PlatformInstructor` profile embedded in class payloads: this carries only what is needed to pick and price a coach.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Public display name when set, otherwise the linked contact name."
          },
          "clubId": {
            "type": "integer",
            "nullable": true,
            "description": "Club the instructor belongs to; null when org-wide."
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hourlyRate": {
            "type": "number",
            "nullable": true,
            "description": "Added to the area price when pricing a booking with this instructor, unless `priceIncludesArea` is true."
          },
          "priceIncludesArea": {
            "type": "boolean",
            "description": "When true, `hourlyRate` is an all-in price that already covers the booked area - the area's price is not added on top of it."
          },
          "isBookable": {
            "type": "boolean",
            "description": "Whether the instructor takes one-on-one bookings. A booking naming a non-bookable instructor is always rejected."
          },
          "maxConcurrentBookings": {
            "type": "integer"
          },
          "operatingHours": {
            "type": "object",
            "description": "Per-day-of-week availability schedule"
          }
        }
      },
      "PlatformInstructorPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformInstructorSummary"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total instructors matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformMembership": {
        "type": "object",
        "description": "A customer's membership on a plan. The plan is snapshotted onto it at creation, so allowance and coverage behave exactly as they do for a membership sold in 1club.",
        "properties": {
          "membershipId": {
            "type": "integer"
          },
          "membershipUuid": {
            "type": "string",
            "format": "uuid",
            "description": "Stable unguessable identifier. Prefer this over `membershipId` when storing a reference."
          },
          "contactId": {
            "type": "integer",
            "description": "Customer the membership belongs to"
          },
          "planId": {
            "type": "integer"
          },
          "planName": {
            "type": "string",
            "nullable": true
          },
          "clubId": {
            "type": "integer",
            "nullable": true,
            "description": "Club the membership is limited to; null when it applies organization-wide."
          },
          "status": {
            "type": "string",
            "description": "active, paused, cancelled, expired, used, pending, or pending_payment"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "renewalDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "autoRenew": {
            "type": "boolean"
          },
          "price": {
            "type": "number",
            "nullable": true
          },
          "billingFrequency": {
            "type": "string"
          },
          "maxUses": {
            "type": "number",
            "nullable": true,
            "description": "Session allowance snapshotted from the plan; null when unlimited."
          },
          "usesRemaining": {
            "type": "number",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformMembershipPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformMembership"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total memberships matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformPlan": {
        "type": "object",
        "description": "A membership plan. It carries its own price, joining fee, billing frequency and session allowance, so creating a membership only has to name the plan and the customer.",
        "properties": {
          "planId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "clubId": {
            "type": "integer",
            "nullable": true,
            "description": "Club the plan is limited to; null when organization-wide."
          },
          "price": {
            "type": "number",
            "description": "Charged each billing period."
          },
          "signupFee": {
            "type": "number",
            "description": "Charged once when the membership starts, on top of the price."
          },
          "billingFrequency": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean",
            "description": "False for a retired plan that is no longer sold."
          },
          "maxUses": {
            "type": "number",
            "nullable": true,
            "description": "Session allowance a membership gets; null when unlimited."
          },
          "sessionUnit": {
            "type": "string",
            "nullable": true,
            "description": "What a use is counted in - a booking or an hour."
          },
          "validityPeriod": {
            "type": "integer",
            "nullable": true,
            "description": "Days the membership stays valid, when time-limited."
          },
          "autoRenews": {
            "type": "boolean",
            "description": "Whether a membership on this plan renews by default."
          },
          "renewalDaysInAdvance": {
            "type": "integer"
          },
          "requirePaymentUpfront": {
            "type": "boolean"
          },
          "customPeriod": {
            "type": "integer",
            "nullable": true
          },
          "customPeriodUnit": {
            "type": "string",
            "nullable": true
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Private",
              "Member_only",
              "Public"
            ]
          },
          "validFor": {
            "type": "object",
            "additionalProperties": true,
            "description": "Booking resource scopes and optional type filters covered by the plan."
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PlatformPlanPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformPlan"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total plans matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformProduct": {
        "type": "object",
        "description": "A product the organization sells over the counter.",
        "properties": {
          "productId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "clubId": {
            "type": "integer",
            "nullable": true,
            "description": "Club the product is sold at; null when available organization-wide."
          },
          "categoryId": {
            "type": "integer",
            "nullable": true,
            "description": "Product category it is grouped under."
          },
          "brandId": {
            "type": "integer",
            "nullable": true
          },
          "sku": {
            "type": "string",
            "nullable": true,
            "description": "Stock-keeping code, if the gym uses one."
          },
          "barcode": {
            "type": "string",
            "nullable": true,
            "description": "Scanned at the till. Unique across everything scannable in the organization."
          },
          "price": {
            "type": "number",
            "description": "What a customer pays, in the organization currency."
          },
          "costPrice": {
            "type": "number",
            "nullable": true,
            "description": "What the gym pays for it; null when not tracked. Never shown to customers."
          },
          "isActive": {
            "type": "boolean",
            "description": "False for a product taken off the till without deleting its history."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Public",
              "Member_only",
              "Private"
            ],
            "description": "Who may see it on customer-facing surfaces."
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "taxRateId": {
            "type": "integer",
            "nullable": true,
            "description": "Per-product VAT rate; takes precedence over the revenue account default at the till."
          },
          "revenueAccountId": {
            "type": "integer",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformProductPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformProduct"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total products matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformProductCreate": {
        "type": "object",
        "description": "Fields accepted when creating a product. Only `name` and `price` are required; the defaults shown are what an omitted field becomes.",
        "required": [
          "name",
          "price"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "maxLength": 5000
          },
          "price": {
            "type": "number",
            "minimum": 0
          },
          "costPrice": {
            "type": "number",
            "minimum": 0,
            "nullable": true
          },
          "clubId": {
            "type": "integer",
            "nullable": true,
            "description": "Limit the product to one club; null sells it everywhere."
          },
          "categoryId": {
            "type": "integer",
            "nullable": true,
            "description": "From GET /v1/platform/product-categories"
          },
          "brandId": {
            "type": "integer",
            "nullable": true
          },
          "sku": {
            "type": "string",
            "maxLength": 64,
            "nullable": true,
            "description": "Stock-keeping code. Scannable at the till, so it must be unused by any other product, package, plan or access card in the organization."
          },
          "barcode": {
            "type": "string",
            "maxLength": 64,
            "nullable": true,
            "description": "Must be unused by any other product, package, plan or access card in the organization."
          },
          "isActive": {
            "type": "boolean",
            "default": true
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Public",
              "Member_only",
              "Private"
            ],
            "default": "Public"
          },
          "taxRateId": {
            "type": "integer",
            "nullable": true
          },
          "revenueAccountId": {
            "type": "integer",
            "nullable": true
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Replaces the whole list. Use already-hosted URLs."
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Replaces the whole list."
          }
        }
      },
      "PlatformProductUpdate": {
        "type": "object",
        "description": "Fields accepted when updating a product. Send only what changes; `null` clears a nullable field, and an omitted field is left alone. At least one field is required.",
        "minProperties": 1,
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "maxLength": 5000
          },
          "price": {
            "type": "number",
            "minimum": 0
          },
          "costPrice": {
            "type": "number",
            "minimum": 0,
            "nullable": true
          },
          "clubId": {
            "type": "integer",
            "nullable": true,
            "description": "Limit the product to one club; null sells it everywhere."
          },
          "categoryId": {
            "type": "integer",
            "nullable": true,
            "description": "From GET /v1/platform/product-categories"
          },
          "brandId": {
            "type": "integer",
            "nullable": true
          },
          "sku": {
            "type": "string",
            "maxLength": 64,
            "nullable": true,
            "description": "Stock-keeping code. Scannable at the till, so it must be unused by any other product, package, plan or access card in the organization."
          },
          "barcode": {
            "type": "string",
            "maxLength": 64,
            "nullable": true,
            "description": "Must be unused by any other product, package, plan or access card in the organization."
          },
          "isActive": {
            "type": "boolean"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Public",
              "Member_only",
              "Private"
            ]
          },
          "taxRateId": {
            "type": "integer",
            "nullable": true
          },
          "revenueAccountId": {
            "type": "integer",
            "nullable": true
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Replaces the whole list. Use already-hosted URLs."
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Replaces the whole list."
          }
        }
      },
      "PlatformProductCategory": {
        "type": "object",
        "description": "How products are grouped - the tabs on the till and the sections of a shop page.",
        "properties": {
          "categoryId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "sortOrder": {
            "type": "integer",
            "description": "Ascending display order; ties fall back to name."
          },
          "productCount": {
            "type": "integer",
            "description": "Products currently in this category, active and inactive."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformCheckin": {
        "type": "object",
        "description": "An attendance record for a booking, class, membership, or direct gym visit.",
        "properties": {
          "checkinId": {
            "type": "integer"
          },
          "contactId": {
            "type": "integer",
            "nullable": true
          },
          "clubId": {
            "type": "integer"
          },
          "classId": {
            "type": "integer",
            "nullable": true
          },
          "bookingId": {
            "type": "integer",
            "nullable": true
          },
          "membershipId": {
            "type": "integer",
            "nullable": true
          },
          "externalProgramId": {
            "type": "integer",
            "nullable": true
          },
          "entranceMethod": {
            "type": "string",
            "nullable": true
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "contact": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "club": {
            "type": "object",
            "additionalProperties": true
          },
          "class": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "booking": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "membership": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "externalProgram": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          }
        }
      },
      "PlatformCheckinPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformCheckin"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total check-ins matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      }
    },
    "responses": {
      "PlatformBadRequest": {
        "description": "Invalid request (bad parameters, or a body that fails validation)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlatformError"
            }
          }
        }
      },
      "PlatformUnauthorized": {
        "description": "Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlatformError"
            }
          }
        }
      },
      "PlatformForbidden": {
        "description": "The API key is missing the scope this endpoint requires",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlatformError"
            }
          }
        }
      },
      "PlatformNotFound": {
        "description": "The requested resource does not exist in this organization",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlatformError"
            }
          }
        }
      },
      "PlatformConflict": {
        "description": "The request conflicts with existing state, or reuses an Idempotency-Key with a different body",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlatformError"
            }
          }
        }
      },
      "PlatformRateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlatformError"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "customerApiAuth": []
    }
  ],
  "paths": {
    "/v1/platform/area-blocks": {
      "get": {
        "summary": "List area blocks",
        "description": "Returns the blocks overlapping a window - the time-ranged unavailability of a court, the counterpart of instructor time off. A block with `areaId: null` is club-wide and closes every area in `clubId`; expand it against the club's areas the same way availability does. Filtering by `areaId` includes the club-wide blocks covering that area, so the result is everything that closes it.\n",
        "tags": [
          "Area Blocks"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Window start (ISO date-time)"
          },
          {
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Window end (ISO date-time). At most 31 days after `from`."
          },
          {
            "in": "query",
            "name": "clubId",
            "schema": {
              "type": "integer"
            },
            "description": "Only return blocks for this club"
          },
          {
            "in": "query",
            "name": "areaId",
            "schema": {
              "type": "integer"
            },
            "description": "Only return blocks affecting this area (club-wide ones included)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of area blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "clubId": {
                        "type": "integer"
                      },
                      "areaId": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Null means every area in the club"
                      },
                      "areaName": {
                        "type": "string",
                        "nullable": true
                      },
                      "startTime": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "endTime": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "note": {
                        "type": "string",
                        "nullable": true
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "403": {
            "description": "API key is missing the required `areas:read` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an area block",
        "description": "Closes a court, or a whole club, for a time range. Send `areaId` to close one court (its club is derived), or `clubId` with `areaId` omitted/null to close every court in that club with a single record. Existing bookings in the window are left alone - a block stops NEW bookings; cancel or move the affected bookings separately.\n",
        "tags": [
          "Area Blocks"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "startTime",
                  "endTime"
                ],
                "properties": {
                  "areaId": {
                    "type": "integer",
                    "nullable": true,
                    "description": "The court to close. Omit or send null for a club-wide block."
                  },
                  "clubId": {
                    "type": "integer",
                    "description": "Required when `areaId` is omitted or null; otherwise derived from the area."
                  },
                  "startTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "endTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "note": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Block created"
          },
          "400": {
            "description": "Invalid body, or `clubId` missing for a club-wide block",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "403": {
            "description": "API key is missing the required `areas:write` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "404": {
            "description": "Club or area not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/area-blocks/{blockId}": {
      "delete": {
        "summary": "Delete an area block",
        "description": "Removes a block, reopening the court(s) it covered for booking. Idempotent from the caller's perspective only in the sense that a second delete returns 404 - the first one already reopened the slot.\n",
        "tags": [
          "Area Blocks"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blockId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Block deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid block id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "403": {
            "description": "API key is missing the required `areas:write` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "404": {
            "description": "Block not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/areas": {
      "get": {
        "summary": "List bookable areas",
        "description": "Returns the organization's bookable areas (e.g. padel courts). Optionally filter by club or sport (e.g. `padel`). Use the returned area `id` as `areaId` when creating a booking.\n",
        "tags": [
          "Areas"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "clubId",
            "schema": {
              "type": "integer"
            },
            "description": "Only return areas belonging to this club"
          },
          {
            "in": "query",
            "name": "sport",
            "schema": {
              "type": "string"
            },
            "description": "Only return areas whose area type lists this sport (e.g. \"padel\")"
          }
        ],
        "responses": {
          "200": {
            "description": "List of bookable areas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "clubId": {
                        "type": "integer"
                      },
                      "sports": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "pricePerHour": {
                        "type": "number",
                        "nullable": true
                      },
                      "maxConcurrentBookings": {
                        "type": "integer"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "IANA timezone the operating hours are expressed in (the club's, falling back to the organization's). Convert a local wall time in this zone when sending `startTime`/`endTime` to POST /v1/platform/bookings.\n"
                      },
                      "operatingHours": {
                        "type": "object",
                        "description": "Per-day-of-week opening schedule"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "403": {
            "description": "API key is missing the required `areas:read` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/areas/{areaId}/availability": {
      "get": {
        "summary": "Get area availability",
        "description": "Returns the area's club timezone, operating hours, the intervals already taken (`busy`), and computed open `slots` (with remaining capacity) for the window. Send `If-None-Match` with the last `version` you saw to get a cheap `304` when nothing changed. 1club remains the source of truth: booking creation re-checks availability atomically and rejects conflicts.\n",
        "tags": [
          "Areas"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "areaId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Area id"
          },
          {
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Window start (ISO date-time)"
          },
          {
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Window end (ISO date-time). At most 31 days after `from`."
          },
          {
            "in": "query",
            "name": "slotMinutes",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                15,
                30,
                60,
                90,
                120
              ],
              "default": 60
            },
            "description": "Granularity of computed slots in minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "Area availability",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "areaId": {
                      "type": "integer"
                    },
                    "from": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "to": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "timezone": {
                      "type": "string",
                      "description": "IANA timezone the hours are expressed in"
                    },
                    "maxConcurrentBookings": {
                      "type": "integer"
                    },
                    "version": {
                      "type": "string",
                      "description": "Consistency token (highest change sequence for this area)"
                    },
                    "operatingHours": {
                      "type": "object",
                      "description": "Per-day-of-week opening schedule"
                    },
                    "busy": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "endTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "subject": {
                            "type": "string",
[...]
