{
  "openapi": "3.0.0",
  "info": {
    "title": "1Club Public API",
    "version": "1.0.0",
    "description": "Public API for integrating with the 1Club platform. Browse clubs, areas, classes, plans, instructors, and more.",
    "contact": {
      "name": "1Club API Support",
      "email": "support@1club.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.1club.ai",
      "description": "Production API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/v1/public/clubs/{slug}/access-control-settings": {
      "get": {
        "summary": "Get public access control settings",
        "description": "Public endpoint to retrieve access control settings for a club by slug",
        "tags": [
          "Access Control"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Club slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Access control settings (or defaults if not configured)"
          },
          "404": {
            "description": "Club not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/amenities": {
      "get": {
        "summary": "Get all available amenities",
        "tags": [
          "General"
        ],
        "responses": {
          "200": {
            "description": "List of all available amenities with metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Amenity ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Amenity name"
                      },
                      "lucideIcon": {
                        "type": "string",
                        "description": "Lucide icon name"
                      },
                      "category": {
                        "type": "string",
                        "description": "Amenity category"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/area-types": {
      "get": {
        "summary": "List public area types",
        "description": "Get list of all area types. Authorized members see additional types.",
        "tags": [
          "Areas"
        ],
        "responses": {
          "200": {
            "description": "List of area types"
          },
          "500": {
            "description": "Failed to fetch area types"
          }
        }
      }
    },
    "/v1/public/area-types/slug/{slug}": {
      "get": {
        "summary": "Get area type by slug",
        "description": "Retrieve a specific area type by its slug identifier",
        "tags": [
          "Areas"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Area type slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Area type details"
          },
          "404": {
            "description": "Area type not found"
          },
          "500": {
            "description": "Failed to fetch area type"
          }
        }
      }
    },
    "/v1/public/area-types/{id}": {
      "get": {
        "summary": "Get area type by ID",
        "description": "Retrieve a specific area type by its numeric identifier",
        "tags": [
          "Areas"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Area type ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Area type details"
          },
          "404": {
            "description": "Area type not found"
          },
          "500": {
            "description": "Failed to fetch area type"
          }
        }
      }
    },
    "/v1/public/areas": {
      "get": {
        "summary": "List public areas",
        "description": "Get list of public areas. Authorized members can also see member-only areas. Results can be filtered by organization and area type.",
        "tags": [
          "Areas"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organizationId",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by organization ID"
          },
          {
            "in": "query",
            "name": "areaTypeSlug",
            "schema": {
              "type": "string"
            },
            "description": "Filter by area type slug"
          }
        ],
        "responses": {
          "200": {
            "description": "List of public areas"
          },
          "500": {
            "description": "Failed to fetch areas"
          }
        }
      }
    },
    "/v1/public/areas/{id}": {
      "get": {
        "summary": "Get public area by ID",
        "description": "Retrieve detailed information for a specific area",
        "tags": [
          "Areas"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Area ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Area details"
          },
          "404": {
            "description": "Area not found"
          },
          "500": {
            "description": "Failed to fetch area"
          }
        }
      }
    },
    "/v1/public/areas/{id}/availability": {
      "get": {
        "summary": "Check area availability",
        "description": "Check availability for an area on a specific date or date range",
        "tags": [
          "Areas"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Area ID"
          },
          {
            "in": "query",
            "name": "date",
            "schema": {
              "type": "string"
            },
            "description": "Single date to check (ISO format, required if startDate/endDate not provided)"
          },
          {
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string"
            },
            "description": "Range start date (ISO format, requires endDate)"
          },
          {
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string"
            },
            "description": "Range end date (ISO format, requires startDate)"
          }
        ],
        "responses": {
          "200": {
            "description": "Availability information for requested date(s)"
          },
          "400": {
            "description": "Missing required date parameters"
          },
          "500": {
            "description": "Failed to check availability"
          }
        }
      }
    },
    "/v1/public/classes": {
      "get": {
        "summary": "Get all public classes",
        "description": "Retrieve a list of all public classes available in the system",
        "tags": [
          "Classes"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organizationId",
            "schema": {
              "type": "integer"
            },
            "description": "Organization ID to filter classes (optional)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of public classes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Class ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Class name"
                      },
                      "description": {
                        "type": "string",
                        "description": "Class description"
                      },
                      "date": {
                        "type": "string",
                        "format": "date",
                        "description": "Class date"
                      },
                      "startTime": {
                        "type": "string",
                        "description": "Class start time"
                      },
                      "endTime": {
                        "type": "string",
                        "description": "Class end time"
                      },
                      "duration": {
                        "type": "number",
                        "description": "Class duration in hours"
                      },
                      "maxCapacity": {
                        "type": "integer",
                        "description": "Maximum class capacity"
                      },
                      "price": {
                        "type": "number",
                        "description": "Class price"
                      },
                      "sport": {
                        "type": "string",
                        "description": "Class sport"
                      },
                      "isRecurring": {
                        "type": "boolean",
                        "description": "Whether class is recurring"
                      },
                      "images": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Class images"
                      },
                      "clubs": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Club ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Club name"
                          },
                          "slug": {
                            "type": "string",
                            "description": "Club slug"
                          }
                        }
                      },
                      "instructors": {
                        "type": "object",
                        "properties": {
                          "contacts": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "Instructor contact ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "Instructor name"
                              },
                              "profileImage": {
                                "type": "string",
                                "description": "Instructor profile image"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/classes/{id}": {
      "get": {
        "summary": "Get public class by ID",
        "description": "Retrieve a specific public class by its ID",
        "tags": [
          "Classes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Class ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Class details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Class ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Class name"
                    },
                    "description": {
                      "type": "string",
                      "description": "Class description"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Class not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/clubs": {
      "get": {
        "summary": "Get all public clubs",
        "description": "Retrieve a list of all public clubs available in the system",
        "tags": [
          "Clubs"
        ],
        "responses": {
          "200": {
            "description": "List of public clubs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Club ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Club name"
                      },
                      "city": {
                        "type": "string",
                        "description": "City where the club is located"
                      },
                      "sport": {
                        "type": "string",
                        "description": "Primary sport of the club"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/clubs/{slug}/areas": {
      "get": {
        "summary": "Get areas for a club",
        "description": "Retrieve all areas available at a specific club by slug",
        "tags": [
          "Clubs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Club slug"
          },
          {
            "in": "query",
            "name": "areaTypeSlug",
            "schema": {
              "type": "string"
            },
            "description": "Optional area type slug for this organization (filters areas to that type)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of club areas"
          },
          "404": {
            "description": "Club not found"
          },
          "500": {
            "description": "Failed to fetch club areas"
          }
        }
      }
    },
    "/v1/public/clubs/{slug}/area-types": {
      "get": {
        "summary": "Get area types for a club",
        "description": "Retrieve all area types available at a specific club, optionally filtered by bookability and status",
        "tags": [
          "Clubs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Club slug"
          },
          {
            "in": "query",
            "name": "isBookable",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Filter by bookable status"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            },
            "description": "Filter by area type status"
          }
        ],
        "responses": {
          "200": {
            "description": "List of club area types"
          },
          "404": {
            "description": "Club not found"
          },
          "500": {
            "description": "Failed to fetch club area types"
          }
        }
      }
    },
    "/v1/public/clubs/{slug}/classes": {
      "get": {
        "summary": "Get classes for a club",
        "description": "Retrieve all classes available at a specific club, optionally filtered by date range and sport",
        "tags": [
          "Clubs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Club slug"
          },
          {
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter classes starting from this date"
          },
          {
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter classes until this date"
          },
          {
            "in": "query",
            "name": "sport",
            "schema": {
              "type": "string"
            },
            "description": "Filter by sport (can be comma-separated for multiple)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of club classes"
          },
          "404": {
            "description": "Club not found"
          },
          "500": {
            "description": "Failed to fetch club classes"
          }
        }
      }
    },
    "/v1/public/instructors": {
      "get": {
        "summary": "Get public instructors",
        "description": "Retrieve public instructors filtered by organization slug or club slug",
        "tags": [
          "Instructors"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organizationSlug",
            "schema": {
              "type": "string"
            },
            "description": "Filter instructors by organization slug"
          },
          {
            "in": "query",
            "name": "clubSlug",
            "schema": {
              "type": "string"
            },
            "description": "Filter instructors by club slug"
          },
          {
            "in": "query",
            "name": "instructorTypeSlug",
            "schema": {
              "type": "string"
            },
            "description": "Filter by instructor type slug for the resolved organization"
          }
        ],
        "responses": {
          "200": {
            "description": "List of public instructors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - either organizationSlug or clubSlug is required"
          },
          "404": {
            "description": "Organization or club not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/instructors/{id}": {
      "get": {
        "summary": "Get single public instructor",
        "description": "Retrieve details of a specific public instructor",
        "tags": [
          "Instructors"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Instructor ID"
          },
          {
            "in": "query",
            "name": "organizationSlug",
            "schema": {
              "type": "string"
            },
            "description": "Organization slug for validation"
          },
          {
            "in": "query",
            "name": "clubSlug",
            "schema": {
              "type": "string"
            },
            "description": "Club slug for validation"
          }
        ],
        "responses": {
          "200": {
            "description": "Instructor details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid instructor ID"
          },
          "404": {
            "description": "Instructor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/instructors/{id}/availability": {
      "get": {
        "summary": "Get instructor availability/bookings",
        "description": "Retrieve all bookings for a specific instructor in a date range",
        "tags": [
          "Instructors"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Instructor ID"
          },
          {
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for availability check"
          },
          {
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for availability check"
          }
        ],
        "responses": {
          "200": {
            "description": "List of instructor bookings"
          },
          "404": {
            "description": "Instructor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/organizations/{organizationSlug}/signup-settings": {
      "get": {
        "summary": "Get signup settings for portal",
        "description": "Returns which system fields (phone, dateOfBirth) are shown/required on the member portal signup form. No auth required.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationSlug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signup system fields config (required | optional | hidden per field)"
          },
          "404": {
            "description": "Organization not found or member portal disabled"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/organizations/by-slug/{slug}": {
      "get": {
        "summary": "Get organization by slug (public)",
        "description": "Retrieve organization information by its slug for portal access",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Organization ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Organization name"
                    },
                    "slug": {
                      "type": "string",
                      "description": "Organization slug"
                    },
                    "description": {
                      "type": "string",
                      "description": "Organization description"
                    },
                    "logo": {
                      "type": "string",
                      "description": "Organization logo URL"
                    },
                    "website": {
                      "type": "string",
                      "description": "Organization website"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Organization phone"
                    },
                    "email": {
                      "type": "string",
                      "description": "Organization email"
                    },
                    "address": {
                      "type": "string",
                      "description": "Organization address"
                    },
                    "city": {
                      "type": "string",
                      "description": "Organization city"
                    },
                    "state": {
                      "type": "string",
                      "description": "Organization state"
                    },
                    "country": {
                      "type": "string",
                      "description": "Organization country"
                    },
                    "branding": {
                      "type": "object",
                      "description": "Organization branding settings",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "organizationId": {
                          "type": "integer"
                        },
                        "backgroundColor": {
                          "type": "string",
                          "description": "Background color"
                        },
                        "faviconUrl": {
                          "type": "string",
                          "description": "Favicon URL"
                        },
                        "fontFamily": {
                          "type": "string",
                          "description": "Primary font family"
                        },
                        "headingFontFamily": {
                          "type": "string",
                          "description": "Heading font family"
                        },
                        "logoAltText": {
                          "type": "string",
                          "description": "Logo alt text"
                        },
                        "logoUrl": {
                          "type": "string",
                          "description": "Logo URL"
                        },
                        "primaryColor": {
                          "type": "string",
                          "description": "Primary brand color"
                        },
                        "darkPrimaryColor": {
                          "type": "string",
                          "description": "Dark theme primary brand color"
                        },
                        "darkHeaderColor": {
                          "type": "string",
                          "description": "Dark theme header strip color"
                        },
                        "textColor": {
                          "type": "string",
                          "description": "Primary text color"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Organization not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/organizations/by-email": {
      "post": {
        "summary": "Get organizations by user email",
        "description": "Retrieve all organizations that a user is a member of by their email address",
        "tags": [
          "Organizations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User email address"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of organizations the user is a member of",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Organization ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Organization name"
                      },
                      "slug": {
                        "type": "string",
                        "description": "Organization slug"
                      },
                      "logo": {
                        "type": "string",
                        "description": "Organization logo URL"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - email is required"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/organizations/{slug}/membership": {
      "get": {
        "summary": "Check user membership in organization",
        "description": "Check if the current user is a member of the organization",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          }
        ],
        "responses": {
          "200": {
            "description": "User membership information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isMember": {
                      "type": "boolean"
                    },
                    "role": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Organization not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/organizations/{identifier}/currency": {
      "get": {
        "summary": "Get organization currency information",
        "description": "Retrieve currency information for an organization by its ID or slug",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID or slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization currency information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Currency code (e.g., USD, EUR)"
                    },
                    "symbol": {
                      "type": "string",
                      "description": "Currency symbol (e.g., $, €)"
                    },
                    "decimals": {
                      "type": "integer",
                      "description": "Number of decimal places"
                    },
                    "name": {
                      "type": "string",
                      "description": "Currency name"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Organization not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/plans/{id}": {
      "get": {
        "summary": "Get plan by ID",
        "description": "Retrieve a single plan by ID with club information",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Plan ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Plan details"
          },
          "404": {
            "description": "Plan not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/pricing/calculate": {
      "post": {
        "summary": "Calculate price for a booking (public endpoint)",
        "description": "Calculate the price for a booking using applicable pricing rules. This endpoint is publicly accessible.",
        "tags": [
          "Pricing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "organizationId",
                  "startTime",
                  "endTime"
                ],
                "properties": {
                  "organizationId": {
                    "type": "integer"
                  },
                  "startTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "endTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "areaId": {
                    "type": "integer"
                  },
                  "instructorId": {
                    "type": "integer"
                  },
                  "classId": {
                    "type": "integer",
                    "description": "Optional; used to resolve organization and class data. Pass classTypeId for pricing rule matching."
                  },
                  "classTypeId": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calculated price with adjustments"
          },
          "400": {
            "description": "Invalid input"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/pricing/sheets": {
      "post": {
        "summary": "Get pricing sheets for multiple resources and date range (batch)",
        "description": "Returns slots and prices per resource per day.\nEfficient batch: bulk-loads resources and plan once.\nAt least one of areaIds or instructorIds required.\nDate range capped at 31 days.\n",
        "tags": [
          "Pricing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "startDate",
                  "endDate"
                ],
                "properties": {
                  "areaIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "instructorIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date",
                    "example": "2024-01-15"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date",
                    "example": "2024-01-21"
                  },
                  "slotDurationMinutes": {
                    "type": "integer",
                    "default": 30
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch results with one entry per resource per day."
          },
          "400": {
            "description": "Invalid input"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/reviews/club/{clubId}": {
      "get": {
        "summary": "Get reviews for a club",
        "tags": [
          "Reviews"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "clubId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Club ID"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of reviews to return"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of reviews to skip"
          },
          {
            "in": "query",
            "name": "rating",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5
            },
            "description": "Filter by rating"
          }
        ],
        "responses": {
          "200": {
            "description": "List of reviews for the club"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/reviews/club/{clubId}/stats": {
      "get": {
        "summary": "Get review statistics for a club",
        "tags": [
          "Reviews"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "clubId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Club ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Review statistics for the club"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/reviews/area/{areaId}": {
      "get": {
        "summary": "Get reviews for an area",
        "tags": [
          "Reviews"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "areaId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Area ID"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of reviews to return"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of reviews to skip"
          },
          {
            "in": "query",
            "name": "rating",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5
            },
            "description": "Filter by rating"
          }
        ],
        "responses": {
          "200": {
            "description": "List of reviews for the area"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/reviews/area/{areaId}/stats": {
      "get": {
        "summary": "Get review statistics for an area",
        "tags": [
          "Reviews"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "areaId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Area ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Review statistics for the area"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/public/sports": {
      "get": {
        "summary": "Get sports available in public clubs",
        "description": "Returns only sports that are actually used in public clubs (from clubs.sports, area_types.sports, and classes.sport)",
        "tags": [
          "Sports"
        ],
        "responses": {
          "200": {
            "description": "List of sports used in public clubs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "icon": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": []
}