{
  "openapi": "3.0.0",
  "info": {
    "title": "1club Platform API",
    "version": "1.0.0",
    "description": "The 1club Platform API lets you programmatically access and manage your organization's data.\n\n## Official API Contract\n\nThis documentation is the official source of truth for the 1club Platform API.\nIf an integration relies on undocumented endpoints, fields, response shapes, or internal behavior outside this spec, we can't guarantee backward compatibility.\nBuild against what's documented here to stay stable as the platform evolves.\n\n## Authentication\n\nAll requests require a customer API key passed as a Bearer token:\n\n```\nAuthorization: Bearer 1club_sk_live_...\n```\n\nGenerate API keys from the admin portal under **Settings > API Tokens**.\nThe key is tied to your organization - all responses are scoped to your org's data.\n\n## Rate Limiting\n\n- **100 requests per minute** per API key\n- When exceeded, the API returns `429 Too Many Requests` with a `Retry-After` header\n- Rate limit headers are included in every response:\n  - `X-RateLimit-Limit` - max requests per window\n  - `X-RateLimit-Remaining` - requests remaining\n  - `X-RateLimit-Reset` - seconds until the window resets\n\n## Errors\n\n| Status | Meaning |\n|--------|---------|\n| `400` | Invalid request parameters |\n| `401` | Missing or invalid API key |\n| `404` | Resource not found (or doesn't belong to your organization) |\n| `429` | Rate limit exceeded |\n| `500` | Internal server error |",
    "contact": {
      "name": "1club API Support",
      "email": "support@1club.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.1club.ai",
      "description": "Production API"
    }
  ],
  "components": {
    "securitySchemes": {
      "customerApiAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Organization-scoped bearer credential: a customer API key (1club_sk_live_...) or an MCP OAuth access token."
      }
    },
    "schemas": {
      "PlatformClassCreate": {
        "type": "object",
        "required": [
          "clubId",
          "name",
          "startTime",
          "endTime"
        ],
        "properties": {
          "clubId": {
            "type": "integer"
          },
          "areaId": {
            "type": "integer",
            "nullable": true
          },
          "classTypeId": {
            "type": "integer",
            "nullable": true
          },
          "instructorIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "maxItems": 20
          },
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 5000
          },
          "priceBeforeTax": {
            "type": "number",
            "minimum": 0,
            "description": "The price to store, excluding tax - the same field reads return. The tax-inclusive `price` a class reads back with is computed and cannot be written: sending it is a 400, because posting it back would re-apply tax on every round trip."
          },
          "isFree": {
            "type": "boolean"
          },
          "maxCapacity": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 instant with an explicit offset."
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 instant with an explicit offset."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Private",
              "Member_only",
              "Public"
            ]
          },
          "sport": {
            "type": "string",
            "nullable": true,
            "maxLength": 60
          },
          "color": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{6}$"
          },
          "recurrence": {
            "type": "object",
            "description": "Repeat rule. Present, this one request creates the whole series rather than a single occurrence - `startTime`/`endTime` become the template slot, and the series runs from `startTime`. A bounded series (`ends.type` `until` or `after`) is written in full here and capped at 520 occurrences; an open-ended one materializes a rolling window and extends itself. Unknown fields are rejected.",
            "required": [
              "frequency"
            ],
            "properties": {
              "frequency": {
                "type": "string",
                "enum": [
                  "daily",
                  "weekly",
                  "monthly"
                ]
              },
              "interval": {
                "type": "integer",
                "minimum": 1,
                "maximum": 365,
                "default": 1,
                "description": "Repeat every N days, weeks or months."
              },
              "daysOfWeek": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "sunday",
                    "monday",
                    "tuesday",
                    "wednesday",
                    "thursday",
                    "friday",
                    "saturday"
                  ]
                },
                "minItems": 1,
                "maxItems": 7,
                "description": "Required for a weekly cadence, and rejected for any other - nothing else reads it. The first occurrence is the first listed day at or after `startTime`."
              },
              "endDate": {
                "type": "string",
                "format": "date-time",
                "description": "Last day the series may reach, as an ISO 8601 instant with an explicit offset; an occurrence starting at or before it is kept. Required when `ends.type` is `until`, and rejected otherwise."
              },
              "ends": {
                "type": "object",
                "description": "How the series terminates. Omitted on a create means `never`: an open-ended series kept on a rolling window.",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "until",
                      "after",
                      "never"
                    ]
                  },
                  "occurrences": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 520,
                    "description": "How many occurrences the series holds **in total**, counted from its first occurrence and across every day in `daysOfWeek` - not how many weeks. A Monday-and-Wednesday class running for twelve weeks is `24`, not `12`; sending `12` there creates six weeks. When the series ends on a date rather than after a count, `ends.type: \"until\"` with an `endDate` says so without the arithmetic. Required when `ends.type` is `after`, and rejected otherwise."
                  }
                }
              }
            }
          }
        }
      },
      "PlatformClassUpdate": {
        "type": "object",
        "properties": {
          "clubId": {
            "type": "integer"
          },
          "areaId": {
            "type": "integer",
            "nullable": true
          },
          "classTypeId": {
            "type": "integer",
            "nullable": true
          },
          "instructorIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "maxItems": 20
          },
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 5000
          },
          "priceBeforeTax": {
            "type": "number",
            "minimum": 0,
            "description": "The price to store, excluding tax - the same field reads return. The tax-inclusive `price` a class reads back with is computed and cannot be written: sending it is a 400, because posting it back would re-apply tax on every round trip."
          },
          "isFree": {
            "type": "boolean"
          },
          "maxCapacity": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 instant with an explicit offset."
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 instant with an explicit offset."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Private",
              "Member_only",
              "Public"
            ]
          },
          "sport": {
            "type": "string",
            "nullable": true,
            "maxLength": 60
          },
          "color": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{6}$"
          },
          "recurrence": {
            "type": "object",
            "description": "Moves where the series this occurrence belongs to ends; needs `scope=all_future`, and is sent on its own - a body that also carries class fields is rejected. Only the end - a cadence field is rejected. An earlier end removes the occurrences past it and is refused with 409 while any of them has an active booking or waitlist entry.",
            "required": [
              "ends"
            ],
            "properties": {
              "endDate": {
                "type": "string",
                "format": "date-time",
                "description": "Last day the series may reach, as an ISO 8601 instant with an explicit offset; an occurrence starting at or before it is kept. Required when `ends.type` is `until`, and rejected otherwise."
              },
              "ends": {
                "type": "object",
                "description": "How the series terminates. Omitted on a create means `never`: an open-ended series kept on a rolling window.",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "until",
                      "after",
                      "never"
                    ]
                  },
                  "occurrences": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 520,
                    "description": "How many occurrences the series holds **in total**, counted from its first occurrence and across every day in `daysOfWeek` - not how many weeks. A Monday-and-Wednesday class running for twelve weeks is `24`, not `12`; sending `12` there creates six weeks. When the series ends on a date rather than after a count, `ends.type: \"until\"` with an `endDate` says so without the arithmetic. Required when `ends.type` is `after`, and rejected otherwise."
                  }
                }
              }
            }
          },
          "notifyCustomer": {
            "type": "boolean",
            "default": false,
            "description": "Tell the people booked on this class what changed - email plus the in-app and WhatsApp notification. Only sent when the edit changes something visible on their booking (start/end time, area, club, or the instructors); a rename or a price change notifies nobody. Off by default, so callers normally send their own. Assigned instructors get their calendar update either way."
          }
        }
      },
      "PlatformPlanCreate": {
        "type": "object",
        "required": [
          "name",
          "price"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 5000
          },
          "clubId": {
            "type": "integer",
            "nullable": true
          },
          "planCategoryId": {
            "type": "integer",
            "nullable": true,
            "description": "Category the plan is grouped under on price lists, from GET /v1/platform/plan-categories. `null` takes it out of every category."
          },
          "revenueAccountId": {
            "type": "integer",
            "nullable": true,
            "description": "Ledger account a sale of this plan posts to, from GET /v1/platform/revenue-accounts. Leave it out and the sale falls to the organization's default account, resolved at the time of the sale - so omitting this is a choice, not a gap. `null` clears it back to that."
          },
          "price": {
            "type": "number",
            "minimum": 0
          },
          "signupFee": {
            "type": "number",
            "minimum": 0
          },
          "billingFrequency": {
            "type": "string",
            "enum": [
              "one_time",
              "weekly",
              "monthly",
              "quarterly",
              "annually",
              "custom"
            ]
          },
          "customPeriod": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "customPeriodUnit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "days",
              "weeks",
              "months"
            ]
          },
          "isActive": {
            "type": "boolean"
          },
          "maxUses": {
            "type": "number",
            "nullable": true,
            "minimum": 0
          },
          "sessionUnit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "booking",
              "hour"
            ]
          },
          "validityPeriod": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "autoRenews": {
            "type": "boolean"
          },
          "renewalDaysInAdvance": {
            "type": "integer",
            "minimum": 0,
            "maximum": 60
          },
          "requirePaymentUpfront": {
            "type": "boolean"
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 50
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Private",
              "Member_only",
              "Public"
            ]
          },
          "validFor": {
            "type": "object",
            "properties": {
              "scopes": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "classes",
                    "areas",
                    "instructors"
                  ]
                }
              },
              "classTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "areaTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "instructorTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "PlatformPlanUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 5000
          },
          "clubId": {
            "type": "integer",
            "nullable": true
          },
          "planCategoryId": {
            "type": "integer",
            "nullable": true,
            "description": "Category the plan is grouped under on price lists, from GET /v1/platform/plan-categories. `null` takes it out of every category."
          },
          "revenueAccountId": {
            "type": "integer",
            "nullable": true,
            "description": "Ledger account a sale of this plan posts to, from GET /v1/platform/revenue-accounts. Leave it out and the sale falls to the organization's default account, resolved at the time of the sale - so omitting this is a choice, not a gap. `null` clears it back to that."
          },
          "price": {
            "type": "number",
            "minimum": 0
          },
          "signupFee": {
            "type": "number",
            "minimum": 0
          },
          "billingFrequency": {
            "type": "string",
            "enum": [
              "one_time",
              "weekly",
              "monthly",
              "quarterly",
              "annually",
              "custom"
            ]
          },
          "customPeriod": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "customPeriodUnit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "days",
              "weeks",
              "months"
            ]
          },
          "isActive": {
            "type": "boolean"
          },
          "maxUses": {
            "type": "number",
            "nullable": true,
            "minimum": 0
          },
          "sessionUnit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "booking",
              "hour"
            ]
          },
          "validityPeriod": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "autoRenews": {
            "type": "boolean"
          },
          "renewalDaysInAdvance": {
            "type": "integer",
            "minimum": 0,
            "maximum": 60
          },
          "requirePaymentUpfront": {
            "type": "boolean"
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 50
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Private",
              "Member_only",
              "Public"
            ]
          },
          "validFor": {
            "type": "object",
            "properties": {
              "scopes": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "classes",
                    "areas",
                    "instructors"
                  ]
                }
              },
              "classTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "areaTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "instructorTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "PlatformInstructor": {
        "type": "object",
        "description": "Public instructor shape returned alongside classes.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "contactId": {
            "type": "integer"
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "typeId": {
            "type": "integer",
            "nullable": true
          },
          "type": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "experience": {
            "type": "string",
            "nullable": true
          },
          "hourlyRate": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "bio": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "EditorJS document for the instructor bio."
          },
          "certifications": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isActive": {
            "type": "boolean"
          },
          "isBookable": {
            "type": "boolean"
          },
          "contact": {
            "type": "object",
            "nullable": true,
            "properties": {
              "name": {
                "type": "string",
                "nullable": true
              },
              "profileImage": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "PlatformClass": {
        "type": "object",
        "description": "One class occurrence. A weekly class materializes a row per session, linked by `recurrenceId` and `occurrenceIndex`, so `id` is what a booking's `classId` points at - and what distinguishes two groups running in the same hour. Read the roster with GET /v1/platform/classes/{id}/bookings.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "classTypeId": {
            "type": "integer",
            "nullable": true
          },
          "classType": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "slug": {
                "type": "string",
                "nullable": true
              },
              "maxPartySize": {
                "type": "integer",
                "nullable": true
              }
            }
          },
          "clubId": {
            "type": "integer"
          },
          "club": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "slug": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "areaId": {
            "type": "integer",
            "nullable": true,
            "description": "Room or court the class occupies, when one is assigned."
          },
          "area": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "durationMinutes": {
            "type": "integer"
          },
          "isMultiDay": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "cancelled"
            ],
            "description": "A cancelled occurrence keeps its bookings and roster."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Public",
              "Member_only",
              "Private"
            ]
          },
          "sport": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "price": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Price including the organization's default tax - what a member is charged."
          },
          "priceBeforeTax": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "The price as stored on the class, before tax."
          },
          "isFree": {
            "type": "boolean"
          },
          "maxCapacity": {
            "type": "integer",
            "nullable": true,
            "description": "Seats; null when uncapped."
          },
          "maxPartySize": {
            "type": "integer",
            "description": "Largest party one booking may bring, from the class type."
          },
          "bookedCount": {
            "type": "integer",
            "description": "Seats taken: attendee bookings plus standalone walk-in check-ins."
          },
          "currentBookings": {
            "type": "integer",
            "description": "Legacy alias of `bookedCount`."
          },
          "spotsLeft": {
            "type": "integer",
            "nullable": true,
            "description": "`maxCapacity - bookedCount`, floored at 0; null when capacity is unlimited."
          },
          "waitlistCount": {
            "type": "integer",
            "description": "Entries waiting (pending or notified)."
          },
          "allowWaitlist": {
            "type": "boolean"
          },
          "timeStatus": {
            "type": "string",
            "enum": [
              "past",
              "upcoming"
            ]
          },
          "availabilityStatus": {
            "type": "string",
            "enum": [
              "available",
              "full"
            ]
          },
          "recurrenceId": {
            "type": "integer",
            "nullable": true,
            "description": "The series this occurrence belongs to; null for a one-off class."
          },
          "occurrenceIndex": {
            "type": "integer",
            "nullable": true,
            "description": "Position within the series, as materialized."
          },
          "recurrence": {
            "type": "object",
            "nullable": true,
            "description": "The series rule, when this occurrence belongs to one.",
            "properties": {
              "id": {
                "type": "integer"
              },
              "frequency": {
                "type": "string",
                "enum": [
                  "daily",
                  "weekly",
                  "monthly"
                ]
              },
              "interval": {
                "type": "integer"
              },
              "daysOfWeek": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "endsType": {
                "type": "string",
                "enum": [
                  "until",
                  "after",
                  "never"
                ]
              },
              "endsDate": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "endsTotalOccurrences": {
                "type": "integer",
                "nullable": true
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "paused",
                  "cancelled"
                ]
              }
            }
          },
          "instructors": {
            "type": "array",
            "description": "Who teaches the occurrence. The instructor's own weekly availability is not included; read it from GET /v1/platform/instructors.",
            "items": {
              "$ref": "#/components/schemas/PlatformInstructor"
            }
          },
          "externalSource": {
            "type": "string",
            "nullable": true,
            "description": "Import provenance - set when the occurrence came from an external system rather than being created in 1club."
          },
          "externalId": {
            "type": "string",
            "nullable": true,
            "description": "The source system's id for this occurrence, for reconciliation against it."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "translations": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Every locale's copy, keyed by language code (e.g. 'es', 'fr'). Returned alongside the `locale`-resolved `name`/`description`, so an integration syncing a multilingual timetable can read all of them in one call."
          },
          "series": {
            "type": "object",
            "description": "Present **only** on the response to a recurring create or to an update that moved where the series ends, never on a read: it describes what that one request did. An occurrence at a club that is closed, or past its closing date, is skipped rather than failing the request, so comparing `occurrencesCreated` with what you asked for is the only way a partially-skipped season is visible.",
            "properties": {
              "recurrenceId": {
                "type": "integer"
              },
              "occurrencesCreated": {
                "type": "integer",
                "description": "Occurrences written by this request. The whole series for a bounded one; the first window for an open-ended one, which the extension job grows from there."
              },
              "occurrencesRemoved": {
                "type": "integer",
                "description": "Occurrences past the new end that this request removed. Only on the response to an end change."
              }
            }
          }
        }
      },
      "PlatformClassPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformClass"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total classes matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformClassBooking": {
        "type": "object",
        "description": "One attendee of a class occurrence. Class seats are one booking per person, so this is a booking row resolved with the attendee's name, check-in and payment.",
        "properties": {
          "bookingId": {
            "type": "integer"
          },
          "classId": {
            "type": "integer"
          },
          "contactId": {
            "type": "integer",
            "nullable": true,
            "description": "Null for an anonymous seat - a pass sold without naming who would use it. `bookerName` is then who paid for it."
          },
          "contactName": {
            "type": "string",
            "nullable": true
          },
          "bookerName": {
            "type": "string",
            "nullable": true,
            "description": "Who paid, when the seat is anonymous and was sold through an order - so a roster reads \"Anonymous (Ivan Petrov)\" rather than an opaque booking number."
          },
          "contactEmail": {
            "type": "string",
            "nullable": true,
            "description": "Null unless the key also holds `contacts:read` - an email address is contact PII, gated as it is on the contacts resource."
          },
          "status": {
            "type": "string",
            "description": "Booking status (confirmed, pending, checked_in, cancelled)."
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Channel that created it (admin, portal, app, api, kiosk, …)."
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "checkedIn": {
            "type": "boolean",
            "description": "Whether the attendee was checked in for this class."
          },
          "checkedInAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "membershipId": {
            "type": "integer",
            "nullable": true,
            "description": "The membership the seat was drawn from, when it was covered by one."
          },
          "entranceMethod": {
            "type": "string",
            "nullable": true,
            "description": "How the seat was paid for (direct_payment, membership, external_program)."
          },
          "payment": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "paid",
                  "unpaid",
                  "no_charge"
                ],
                "description": "Classified exactly as on `PlatformBooking`. A class seat covered by a membership or an external program is `no_charge` - it owes nothing even though it carries a price - so do not read it as an outstanding balance."
              },
              "amount": {
                "type": "number",
                "nullable": true
              },
              "paidAmount": {
                "type": "number",
                "description": "What has been collected on the booking, gross, before any refund. `0` when nothing has."
              },
              "refundedAmount": {
                "type": "number",
                "description": "What has been returned to the customer, across every refund recorded. `paidAmount - refundedAmount` is what the club kept."
              },
              "reference": {
                "type": "string",
                "nullable": true,
                "description": "The collecting partner's own id for the payment, when one reported it through this API (`payment.reference`); null for money 1club collected itself."
              },
              "fee": {
                "type": "number",
                "nullable": true,
                "description": "What the collecting partner kept out of the amount, when it reported one (`payment.fee`)."
              }
            }
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformClassBookingPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformClassBooking"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total attendees matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformClub": {
        "type": "object",
        "description": "A club with its address, contact info, amenities, sports, aggregated images, and average rating.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "logo": {
            "type": "string",
            "nullable": true
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "All images aggregated from the club and its active areas."
          },
          "amenities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Raw amenity IDs stored on the club."
          },
          "amenitiesResolved": {
            "type": "array",
            "description": "Amenities resolved to display objects (id, name, locale-aware).",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "icon": {
                  "type": "string",
                  "nullable": true
                },
                "category": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rating": {
            "type": "object",
            "nullable": true,
            "description": "Average and total of public reviews. Omitted when there are no public reviews.",
            "properties": {
              "average": {
                "type": "number",
                "format": "float"
              },
              "total": {
                "type": "integer"
              }
            }
          },
          "socialProfiles": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Map of social network keys (e.g. 'instagram') to profile URLs."
          }
        }
      },
      "PlatformContent": {
        "type": "object",
        "description": "A content item (FAQ, post, document, block, or how-to guide) for the organization.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "organizationId": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "faq",
              "post",
              "document",
              "block",
              "how-to-guide"
            ]
          },
          "status": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Public",
              "Member_only",
              "Private"
            ]
          },
          "content": {
            "type": "object",
            "description": "Body of the content item. May contain HTML, EditorJS blocks, a summary, and keywords.",
            "properties": {
              "html": {
                "type": "string",
                "nullable": true
              },
              "blocks": {
                "type": "object",
                "nullable": true,
                "additionalProperties": true,
                "description": "EditorJS document."
              },
              "summary": {
                "type": "string",
                "nullable": true
              },
              "keywords": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "excerpt": {
            "type": "string",
            "nullable": true
          },
          "metaTitle": {
            "type": "string",
            "nullable": true
          },
          "metaDescription": {
            "type": "string",
            "nullable": true
          },
          "metaKeywords": {
            "type": "string",
            "nullable": true
          },
          "canonicalUrl": {
            "type": "string",
            "nullable": true
          },
          "template": {
            "type": "string",
            "nullable": true
          },
          "layout": {
            "type": "string",
            "nullable": true
          },
          "customFields": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "featured": {
            "type": "boolean",
            "nullable": true
          },
          "authorId": {
            "type": "integer",
            "nullable": true
          },
          "author": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "profileImage": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "language": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformMedia": {
        "type": "object",
        "description": "An item in the organization's media library. Files are hosted externally (Cloudinary for anything uploaded through the admin editor); this record is the library entry that website sections and content reference by `url`.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "description": "Public URL of the file. Immutable - register a new item to replace a file."
          },
          "name": {
            "type": "string",
            "description": "Display name. Searched, along with altText, when looking an image up by name."
          },
          "altText": {
            "type": "string",
            "nullable": true,
            "description": "Alternative text for screen readers. Also searched."
          },
          "caption": {
            "type": "string",
            "nullable": true
          },
          "mediaType": {
            "type": "string",
            "enum": [
              "image",
              "video"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformWebsiteSection": {
        "type": "object",
        "description": "One section of a page or of the site layout. `config` fields depend on `type` - see GET /v1/platform/website/section-types for the definitions.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Section type, e.g. \"hero\", \"plans\", \"faq\", \"header\"."
          },
          "htmlId": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9-]*$",
            "description": "The section's anchor on the page (`#<htmlId>`), unique within the page. Send back the value a read returned to keep it; omit it and one is derived from the type."
          },
          "config": {
            "type": "object",
            "additionalProperties": true
          },
          "translations": {
            "type": "object",
            "additionalProperties": true,
            "description": "Per-locale overrides for the section's translatable string fields, keyed by locale then field: { \"bg\": { \"headline\": \"…\" } }. Config values themselves stay in the default language."
          }
        }
      },
      "PlatformWebsitePage": {
        "type": "object",
        "description": "A page on the website draft.",
        "properties": {
          "slug": {
            "type": "string",
            "description": "URL path segment. The homepage is served at \"/\" regardless of its slug."
          },
          "title": {
            "type": "string"
          },
          "isHomepage": {
            "type": "boolean"
          },
          "sectionCount": {
            "type": "integer"
          },
          "sectionTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sections": {
            "type": "array",
            "description": "Present when fetching a single page; omitted from list responses.",
            "items": {
              "$ref": "#/components/schemas/PlatformWebsiteSection"
            }
          },
          "metaTitle": {
            "type": "string",
            "nullable": true
          },
          "metaDescription": {
            "type": "string",
            "nullable": true
          },
          "ogImage": {
            "type": "string",
            "nullable": true
          },
          "noindex": {
            "type": "boolean",
            "description": "True when the page asks search engines not to index it and is left out of `sitemap.xml`."
          },
          "translations": {
            "type": "object",
            "nullable": true,
            "description": "Per-locale `metaTitle`/`metaDescription` overrides, keyed by locale: { \"bg\": { \"metaTitle\": \"…\" } }. Present when fetching a single page.",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "metaTitle": {
                  "type": "string"
                },
                "metaDescription": {
                  "type": "string"
                }
              }
            }
          },
          "seo": {
            "$ref": "#/components/schemas/PlatformWebsitePageSeo"
          },
          "url": {
            "type": "string",
            "description": "The page's public URL once published."
          }
        }
      },
      "PlatformWebsitePageSeo": {
        "type": "object",
        "description": "What the published page will actually put in its `<head>`, after every fallback has been applied - the authored fields alone do not answer \"is my SEO right?\". Present when fetching a single page. Read-only.",
        "properties": {
          "metaTitle": {
            "type": "string",
            "description": "The `<title>`, after falling back to the page title."
          },
          "metaDescription": {
            "type": "string",
            "nullable": true,
            "description": "After falling back to `seoSettings.siteDescription`."
          },
          "ogImage": {
            "type": "string",
            "nullable": true,
            "description": "After falling back to `seoSettings.defaultOgImage`."
          },
          "canonicalUrl": {
            "type": "string",
            "description": "The `rel=canonical` the default-locale render emits, locale prefix included."
          },
          "indexable": {
            "type": "boolean",
            "description": "Whether search engines are asked to index this page."
          },
          "notIndexableReason": {
            "type": "string",
            "nullable": true,
            "enum": [
              "page_noindex",
              "site_unpublished",
              "site_inactive"
            ],
            "description": "Why `indexable` is false. An unpublished or switched-off site is not indexable however the page is configured."
          },
          "localizedLocales": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Locales carrying their own metaTitle/metaDescription overrides."
          }
        }
      },
      "PlatformWebsite": {
        "type": "object",
        "description": "A website belonging to the organization. Page content, layout and theme tokens describe the **draft**. `url`, `published`, `activeReleaseVersion` and `lastPublishedAt` describe what the public is currently being served. `name` and `clubId` are live row fields — they take effect without a publish.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "Platform host label - the site answers on `<slug>.1club.me`."
          },
          "domain": {
            "type": "string",
            "nullable": true,
            "description": "Custom domain, when one is pointed at this site."
          },
          "isDefault": {
            "type": "boolean",
            "description": "True for the site an organization-wide caller means by \"the website\". Exactly one per organization."
          },
          "isActive": {
            "type": "boolean",
            "description": "False means the site is switched off and serves nothing publicly, whatever the draft contains."
          },
          "clubId": {
            "type": "integer",
            "nullable": true,
            "description": "Club this website represents. When set, the header and footer use that club's logo instead of the organization's. Live, like `name`."
          },
          "url": {
            "type": "string",
            "description": "Public URL - the custom domain when set, else the platform host."
          },
          "previewUrl": {
            "type": "string",
            "description": "The same site rendered from the unpublished draft - the link to review edits before publishing. Carries a signed grant that expires 24 hours after this response was generated; read the website again for a fresh one. Anyone holding the link can view the draft, so it is shareable without a login but should be treated as sensitive."
          },
          "published": {
            "type": "boolean",
            "description": "Whether the site has ever been published. False means nothing is publicly reachable yet."
          },
          "activeReleaseVersion": {
            "type": "integer",
            "nullable": true
          },
          "lastPublishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "themeSupport": {
            "type": "string",
            "enum": [
              "both",
              "light",
              "dark"
            ],
            "nullable": true
          },
          "defaultTheme": {
            "type": "string",
            "enum": [
              "light",
              "dark",
              "system"
            ],
            "nullable": true
          },
          "supportedLocales": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Locales the site serves, which is what its `hreflang` alternates and `sitemap.xml` advertise. Organization-level - see `PATCH /v1/platform/website`."
          },
          "defaultLocale": {
            "type": "string",
            "nullable": true,
            "description": "Locale served at the site root. Organization-level."
          },
          "seoSettings": {
            "type": "object",
            "description": "Site-wide SEO defaults. Each field is a fallback a page can override.",
            "additionalProperties": false,
            "properties": {
              "siteDescription": {
                "type": "string",
                "description": "Meta-description fallback, and the `description` in the site's structured data."
              },
              "defaultOgImage": {
                "type": "string",
                "description": "Social-share image for pages with no `ogImage` of their own."
              },
              "verification": {
                "type": "object",
                "description": "Search-console ownership tokens, rendered as meta tags on every page.",
                "properties": {
                  "google": {
                    "type": "string"
                  },
                  "bing": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "pages": {
            "type": "array",
            "description": "Present when fetching one website; omitted from the site list.",
            "items": {
              "$ref": "#/components/schemas/PlatformWebsitePage"
            }
          },
          "layout": {
            "type": "object",
            "description": "Header and footer, rendered on every page.",
            "properties": {
              "header": {
                "$ref": "#/components/schemas/PlatformWebsiteSection"
              },
              "footer": {
                "$ref": "#/components/schemas/PlatformWebsiteSection"
              }
            }
          },
          "hasCustomCss": {
            "type": "boolean"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformWebsiteRelease": {
        "type": "object",
        "description": "A published version of the website. The public site renders the release with `isActive: true`.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "version": {
            "type": "integer"
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this release last went live. An ordinary publish amends the active release in place, so this moves while `createdAt` does not."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "description": "A stable, machine-readable reason, when the error has one (e.g. `CONTACT_EXISTS`)."
          },
          "details": {
            "type": "object",
            "additionalProperties": true,
            "description": "Structured values behind the error. A 409 naming an existing record carries its id here, e.g. `contactId`."
          }
        }
      },
      "WebsiteSectionFieldCondition": {
        "type": "object",
        "description": "When a field is relevant, as a comparison against a SIBLING field of the same section. Deliberately data rather than an expression, and deliberately unable to reach platform data or anything resolved at render time, so the server, the editor and a model all answer it the same way. Exactly one form per object.",
        "properties": {
          "field": {
            "type": "string",
            "description": "The sibling field this condition reads. Always resolves before the field carrying the condition."
          },
          "equals": {
            "description": "Relevant when the sibling equals this value."
          },
          "oneOf": {
            "type": "array",
            "items": {},
            "description": "Relevant when the sibling is one of these values."
          },
          "isEmpty": {
            "type": "boolean",
            "description": "Relevant when the sibling is (true) or is not (false) unset, blank or an empty array."
          },
          "allOf": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebsiteSectionFieldCondition"
            }
          },
          "anyOf": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebsiteSectionFieldCondition"
            }
          }
        }
      },
      "WebsiteSectionField": {
        "type": "object",
        "description": "One config field of a website section. This is the ONLY description of the field: its control, its value space, where it belongs in an editor, whether it translates, and when it applies. Nothing about a field is documented elsewhere.",
        "properties": {
          "key": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "string",
              "text",
              "number",
              "select",
              "string_list",
              "boolean",
              "range",
              "url",
              "color",
              "image",
              "image_list",
              "entity",
              "entity_list",
              "object_list",
              "header",
              "paragraph"
            ],
            "description": "`header` and `paragraph` store nothing — they structure and explain an editing panel."
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Allowed values for `select`."
          },
          "defaultValue": {
            "description": "What a new section starts with. See the catalog's `defaults` for the resolved config."
          },
          "group": {
            "type": "string",
            "enum": [
              "content",
              "data",
              "layout",
              "style",
              "advanced"
            ]
          },
          "prominence": {
            "type": "string",
            "enum": [
              "card",
              "panel"
            ]
          },
          "order": {
            "type": "integer",
            "description": "Ascending display order. A conditional field always sorts after the field its condition names."
          },
          "width": {
            "type": "string",
            "enum": [
              "full",
              "half"
            ]
          },
          "translatable": {
            "type": "boolean",
            "description": "Whether this value carries per-locale overrides in the section’s `translations` map."
          },
          "entityType": {
            "type": "string",
            "enum": [
              "club",
              "block",
              "document",
              "classType",
              "planCategory",
              "areaType",
              "instructorType",
              "instructor",
              "signupForm",
              "contactCustomField",
              "contact"
            ],
            "description": "For `entity` / `entity_list`: which platform record the value references."
          },
          "contactFilterType": {
            "type": "string",
            "enum": [
              "contact",
              "member",
              "staff",
              "lead",
              "lapsed",
              "drop_in"
            ]
          },
          "itemFields": {
            "type": "array",
            "description": "For `object_list`: the shape of one item. Recursive, so a nav item’s dropdown children and a footer link group are declared rather than described in prose.",
            "items": {
              "$ref": "#/components/schemas/WebsiteSectionField"
            }
          },
          "maxItems": {
            "type": "integer"
          },
          "min": {
            "type": "number"
          },
          "max": {
            "type": "number"
          },
          "step": {
            "type": "number"
          },
          "unit": {
            "type": "string",
            "description": "For `range`: the suffix shown beside the value (e.g. \"%\")."
          },
          "visibleIf": {
            "$ref": "#/components/schemas/WebsiteSectionFieldCondition"
          },
          "deprecated": {
            "type": "boolean",
            "description": "Superseded: an existing section keeps its value and it still renders, but do not set it on a new section. The type’s `notes` name the replacement."
          }
        }
      },
      "PlatformIdentity": {
        "type": "object",
        "description": "Describes the authorized organization, the scopes granted to the bearer credential, and the catalog of available platform resources.",
        "properties": {
          "organization": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              },
              "currency": {
                "type": "string",
                "description": "ISO 4217 code the organization trades in (e.g. \"EUR\"). Every monetary amount on this API - booking `payment.amount`, plan and product prices, transaction totals - is expressed in it, and no other endpoint repeats it. Read it once when you connect."
              }
            }
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scopes granted to the bearer credential - an API key or an MCP OAuth grant - exactly as held (e.g. \"classes:read\"). A full-access key holds the single wildcard scope \"*\"; read `effectiveScopes` to see what that resolves to. An MCP grant never holds \"*\": the wildcard is expanded at consent so each capability can be shown and approved."
          },
          "fullAccess": {
            "type": "boolean",
            "description": "True when the credential holds the wildcard scope \"*\", granting every scope including ones added after it was issued."
          },
          "effectiveScopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The scopes this credential can actually use - identical to `scopes` for a narrow grant, and the full expansion of \"*\" for a full-access key. Check a capability against this list, not `scopes`."
          },
          "resources": {
            "type": "array",
            "description": "Catalog of resources and the actions each supports.",
            "items": {
              "type": "object",
              "properties": {
                "resource": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "actions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "PlatformTransaction": {
        "type": "object",
        "description": "A billing transaction with amounts, payment status, and links to the originating booking or membership.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Stable unguessable identifier. Prefer this over `id` when storing a reference."
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "transactionType": {
            "type": "string",
            "nullable": true,
            "description": "TransactionType enum value (e.g. booking_creation, membership_creation, product_sale, membership_recurrence, etc.). A settlement recorded with `POST /v1/platform/transactions` is `settlement`."
          },
          "bookingId": {
            "type": "integer",
            "nullable": true
          },
          "membershipId": {
            "type": "integer",
            "nullable": true
          },
          "contactId": {
            "type": "integer",
            "nullable": true,
            "description": "The customer charged, when there is one."
          },
          "clubId": {
            "type": "integer",
            "nullable": true,
            "description": "Set on a settlement only; other transactions take their club from their booking or membership."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "pending",
              "paid",
              "void",
              "failed",
              "settled",
              "overdue",
              "partially_paid",
              "refunded",
              "cancelled"
            ]
          },
          "amount": {
            "type": "string",
            "description": "Pre-tax amount as a decimal string (e.g. \"25.00\"). Serialized as a string to preserve precision."
          },
          "taxAmount": {
            "type": "string",
            "description": "Tax portion as a decimal string."
          },
          "totalAmount": {
            "type": "string",
            "description": "Total billed amount as a decimal string (amount + taxAmount)."
          }
        }
      },
      "PlatformBooking": {
        "type": "object",
        "description": "A booking created through the platform API. Recorded with a booking transaction so it counts for revenue, marked paid (settled against a payment method named after the caller's API key, so the club can reconcile what each partner collected) or unpaid (outstanding) per the caller. Collection stays with the caller; what it collected and what it gave back on cancellation are reported in `payment`.",
        "properties": {
          "bookingId": {
            "type": "integer",
            "description": "1club booking id"
          },
          "bookingUuid": {
            "type": "string",
            "format": "uuid",
            "description": "Stable unguessable identifier. Prefer this over `bookingId` when storing a reference."
          },
          "status": {
            "type": "string",
            "description": "Booking status (e.g. confirmed, cancelled)"
          },
          "areaId": {
            "type": "integer",
            "nullable": true,
            "description": "Area id"
          },
          "classId": {
            "type": "integer",
            "nullable": true,
            "description": "The class occurrence this booking attends, when it is a class booking. Every attendee holds their own booking row against the same `classId`, and `classes` rows are per-occurrence - so this is what tells two classes running in the same hour apart. Join it against GET /v1/platform/classes, or read the roster with GET /v1/platform/classes/{id}/bookings."
          },
          "eventId": {
            "type": "integer",
            "nullable": true,
            "description": "The event this booking attends, when it is an event booking"
          },
          "maxPlayers": {
            "type": "integer",
            "nullable": true,
            "description": "How many players the booking takes, the organizer included, when it differs from the area type's `defaultMaxPlayers`: `2` on a court booked for singles (area types with `allowsSingles`). `null` means the area type's own limit. Adding a player past it is refused."
          },
          "instructorId": {
            "type": "integer",
            "nullable": true,
            "description": "Instructor leading the session, when one is attached"
          },
          "contactId": {
            "type": "integer",
            "nullable": true,
            "description": "Contact the booking is for"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "customer": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PlatformContact"
              }
            ],
            "nullable": true,
            "description": "The booking's customer, identical to what GET /v1/platform/contacts/{id} returns. Present only when the request passes `include=customer`, which additionally requires the `contacts:read` scope; `null` when the booking has no contact. Use it to import a window of bookings without a contact lookup per row."
          },
          "money": {
            "type": "object",
            "description": "What the booking costs and how it was paid. Present only with `include=money`, which additionally requires the `transactions:read` scope. `billed` is always `paid + outstanding`, on the same basis as the admin's Booking audit: tax-inclusive, net of refunds, so a cancelled booking bills only the Cancellation Charge it kept.",
            "properties": {
              "billed": {
                "type": "number"
              },
              "billedExTax": {
                "type": "number"
              },
              "paid": {
                "type": "number",
                "description": "Money the club kept: collected, net of refunds."
              },
              "outstanding": {
                "type": "number",
                "description": "Still owed on the booking. A closed charge owes nothing."
              },
              "paymentState": {
                "type": "string",
                "description": "paid, partial, unpaid, refunded, covered or free."
              },
              "paymentStatus": {
                "type": "string",
                "nullable": true,
                "description": "The charges' own payment statuses, `/`-joined."
              },
              "charges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "transactionId": {
                      "type": "integer"
                    },
                    "transactionType": {
                      "type": "string",
                      "nullable": true
                    },
                    "payerContactId": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Who the charge is on: the organizer, or a player paying their own share."
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "paymentStatus": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "number",
                      "description": "What the charge bills, after any cancellation credit against it."
                    },
                    "paidAmount": {
                      "type": "number"
                    },
                    "refundedAmount": {
                      "type": "number",
                      "description": "Returned from its payments by a refund."
                    },
                    "outstandingAmount": {
                      "type": "number"
                    },
                    "invoiceIds": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "orderId": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              },
              "credits": {
                "type": "array",
                "description": "Cancellation credits: what a cancellation took off a charge.",
                "items": {
                  "type": "object",
                  "properties": {
                    "transactionId": {
                      "type": "integer"
                    },
                    "chargeTransactionId": {
                      "type": "integer",
                      "nullable": true
                    },
                    "amount": {
                      "type": "number"
                    },
                    "paymentStatus": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              },
              "payments": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "paymentId": {
                      "type": "integer"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string"
                    },
                    "method": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string",
                      "nullable": true
                    },
                    "reference": {
                      "type": "string",
                      "nullable": true
                    },
                    "paidAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "transactionIds": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    }
                  }
                }
              },
              "refunds": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "refundId": {
                      "type": "integer"
                    },
                    "transactionId": {
                      "type": "integer",
                      "nullable": true
                    },
                    "paymentId": {
                      "type": "integer"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "destination": {
                      "type": "string",
                      "enum": [
                        "stripe",
                        "wallet",
                        "cash",
                        "manual"
                      ]
                    },
                    "reason": {
                      "type": "string",
                      "nullable": true
                    },
                    "refundedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "cancellation": {
            "type": "object",
            "description": "The cancellation terms stamped on the booking and how it was cancelled. Present only with `include=cancellation`.",
            "properties": {
              "terms": {
                "type": "object",
                "nullable": true,
                "description": "The terms the customer accepted with the booking - not the club's policy today, which may since have changed. `null` for an event ticket, whose event keeps its own terms, and for a booking accepted before terms were stamped.",
                "properties": {
                  "acceptedAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "rules": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "hoursInAdvance": {
                          "type": "number"
                        },
                        "refundPercentage": {
                          "type": "number"
                        },
                        "description": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "deadlines": {
                    "type": "array",
                    "description": "Every band that refunds something, as the moment to cancel by, widest notice first.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "until": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "refundPercentage": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "freeCancellationUntil": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "description": "The last moment a cancellation refunds in full; `null` when no band does."
                  },
                  "fullyCovered": {
                    "type": "boolean",
                    "description": "A membership or pass covered the whole booking."
                  },
                  "collectsFromWallet": {
                    "type": "boolean",
                    "description": "The Cancellation Charge is taken from the Wallet."
                  },
                  "waiver": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "byUserId": {
                        "type": "integer",
                        "nullable": true
                      },
                      "reason": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "cancelled": {
                "type": "object",
                "nullable": true,
                "description": "`null` while the booking is not cancelled.",
                "properties": {
                  "at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "by": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "userId": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  },
                  "reason": {
                    "type": "string",
                    "nullable": true
                  },
                  "noticeHours": {
                    "type": "number",
                    "description": "Hours between the cancellation and the start; negative when it came after the start."
                  },
                  "refundPercentage": {
                    "type": "number",
                    "nullable": true
                  },
                  "refundAmount": {
                    "type": "number",
                    "nullable": true
                  },
                  "policyWaived": {
                    "type": "boolean"
                  },
                  "notes": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "payment": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "paid",
                  "unpaid",
                  "no_charge"
                ],
                "description": "`no_charge` means there is nothing to collect: either nothing was ever owed (a free area, an amount of 0) or an entitlement covers it - a membership or external program the attendee already holds, which is why a covered booking can carry a price and still owe nothing. `paid` counts every financially closed transaction status (`paid`, `settled`, `refunded`), and every charge type, not only the one this API records."
              },
              "amount": {
                "type": "number",
                "nullable": true,
                "description": "The booking's recorded price in the organization's currency; `status` is what says whether anything was collectable. Where the price is 0 but a real charge exists - an external program's per-visit fee lives entirely in its transaction - the ledger total is reported instead."
              },
              "paidAmount": {
                "type": "number",
                "description": "What has been collected on the booking, gross, before any refund. `0` when nothing has."
              },
              "refundedAmount": {
                "type": "number",
                "description": "What has been returned to the customer, across every refund recorded. `paidAmount - refundedAmount` is what the club kept."
              },
              "reference": {
                "type": "string",
                "nullable": true,
                "description": "The collecting partner's own id for the payment, when one reported it through this API (`payment.reference`); null for money 1club collected itself."
              },
              "fee": {
                "type": "number",
                "nullable": true,
                "description": "What the collecting partner kept out of the amount, when it reported one (`payment.fee`)."
              }
            }
          }
        }
      },
      "PlatformBookingUpdate": {
        "type": "object",
        "description": "An edit to a booking. Every field is optional; send only what changes. A body with nothing but `notifyCustomer` is refused.",
        "properties": {
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "New start. With `scope=all_future`, every later occurrence takes this time of day on its own date; change the weekday with `recurrence.daysOfWeek`."
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "New end. Must be after the start, stored or sent."
          },
          "areaId": {
            "type": "integer",
            "description": "Move the booking to this area (from GET /v1/platform/areas). Must be an area this API can sell, as on create."
          },
          "instructorId": {
            "type": "integer",
            "nullable": true,
            "description": "Attach this instructor to the session (from GET /v1/platform/instructors), or `null` to take the instructor off it. Must be free at the time."
          },
          "contactId": {
            "type": "integer",
            "description": "Reassign the booking to this contact (from GET /v1/platform/contacts). The outstanding charge, if any, moves with it."
          },
          "notes": {
            "type": "string",
            "maxLength": 2000
          },
          "amount": {
            "type": "number",
            "maximum": 1000000,
            "description": "The booking's new price, before tax, in the club's currency - your own figure, kept as sent. Omit it to keep the price you recorded on a booking this API created, or to have a booking taken through 1club re-quoted by the club's pricing engine when the slot, area, instructor or contact changes. Cannot be set on a booking a membership covers."
          },
          "recurrence": {
            "type": "object",
            "description": "Make a one-off booking recur, or (with `scope=all_future`) rewrite the cadence or end condition of an existing series. The series starts at the booking's own start time, so there is no start date here. `daysOfWeek` is required for a weekly pattern, and a day repeated in it counts once. Not accepted on a booking an API key created.",
            "required": [
              "frequency",
              "interval"
            ],
            "properties": {
              "frequency": {
                "type": "string",
                "enum": [
                  "daily",
                  "weekly",
                  "monthly"
                ]
              },
              "interval": {
                "type": "integer",
                "minimum": 1,
                "description": "Every N days / weeks / months"
              },
              "daysOfWeek": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "sunday",
                    "monday",
                    "tuesday",
                    "wednesday",
                    "thursday",
                    "friday",
                    "saturday"
                  ]
                },
                "description": "For a weekly pattern, the days it runs on"
              },
              "endDate": {
                "type": "string",
                "format": "date-time",
                "description": "Last date of the series, with `ends.type: until`"
              },
              "ends": {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "until",
                      "after",
                      "never"
                    ],
                    "description": "`until` runs to `endDate`, `after` runs for `occurrences` sessions, `never` extends on a rolling window"
                  },
                  "occurrences": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 520,
                    "description": "With `after`: how many sessions the series holds, counted from its start"
                  }
                }
              }
            }
          },
          "notifyCustomer": {
            "type": "boolean",
            "description": "Tell the customer their booking changed - email with the updated calendar invite plus the in-app and WhatsApp notification. Only sent when the edit names a time, area, instructor or class. Off by default for an API key, on by default over an OAuth connection, as on create."
          }
        }
      },
      "PlatformBookingListItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PlatformBooking"
          },
          {
            "type": "object",
            "properties": {
              "clubId": {
                "type": "integer",
                "nullable": true
              },
              "source": {
                "type": "string",
                "nullable": true,
                "description": "Channel that created the booking (api, admin, portal, app, kiosk, network, website, integration)."
              },
              "notes": {
                "type": "string",
                "nullable": true
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "PlatformBookingPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformBookingListItem"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total bookings matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformRevenueChange": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number"
          },
          "percent": {
            "type": "number",
            "nullable": true,
            "description": "Null when the comparison period had none."
          }
        }
      },
      "PlatformRevenueFigures": {
        "type": "object",
        "properties": {
          "revenue": {
            "type": "number",
            "description": "Recognised ex-tax, net of refunds and Wallet-funded parts."
          },
          "collected": {
            "type": "number",
            "description": "The part of it already paid, on the same basis."
          },
          "uncollected": {
            "type": "number"
          },
          "collectionRate": {
            "type": "number",
            "nullable": true,
            "description": "`collected / revenue`, 0-1."
          },
          "sales": {
            "type": "integer"
          },
          "averageSale": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "PlatformRevenueBreakdown": {
        "type": "object",
        "properties": {
          "revenue": {
            "type": "number"
          },
          "collected": {
            "type": "number"
          },
          "sales": {
            "type": "integer"
          },
          "share": {
            "type": "number",
            "description": "Share of the period's revenue, 0-1."
          },
          "previousRevenue": {
            "type": "number",
            "description": "In the comparison period; absent without one."
          },
          "change": {
            "$ref": "#/components/schemas/PlatformRevenueChange"
          }
        }
      },
      "PlatformRevenueReport": {
        "type": "object",
        "properties": {
          "period": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "date"
              },
              "to": {
                "type": "string",
                "format": "date"
              },
              "days": {
                "type": "integer"
              }
            }
          },
          "timezone": {
            "type": "string",
            "description": "The clock the days are read on."
          },
          "currency": {
            "type": "string"
          },
          "totals": {
            "$ref": "#/components/schemas/PlatformRevenueFigures"
          },
          "comparison": {
            "type": "object",
            "nullable": true,
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "previous_period",
                  "previous_year"
                ]
              },
              "period": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "format": "date"
                  },
                  "to": {
                    "type": "string",
                    "format": "date"
                  }
                }
              },
              "totals": {
                "$ref": "#/components/schemas/PlatformRevenueFigures"
              },
              "change": {
                "type": "object",
                "properties": {
                  "revenue": {
                    "$ref": "#/components/schemas/PlatformRevenueChange"
                  },
                  "collected": {
                    "$ref": "#/components/schemas/PlatformRevenueChange"
                  },
                  "sales": {
                    "$ref": "#/components/schemas/PlatformRevenueChange"
                  }
                }
              }
            }
          },
          "byStream": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PlatformRevenueBreakdown"
                },
                {
                  "type": "object",
                  "properties": {
                    "stream": {
                      "type": "string",
                      "enum": [
                        "bookings",
                        "memberships",
                        "passes",
                        "drop_ins",
                        "products",
                        "other"
                      ]
                    }
                  }
                }
              ]
            }
          },
          "byClub": {
            "type": "array",
            "description": "Absent when the report is narrowed to one club.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PlatformRevenueBreakdown"
                },
                {
                  "type": "object",
                  "properties": {
                    "clubId": {
                      "type": "integer",
                      "nullable": true
                    },
                    "clubName": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              ]
            }
          },
          "byPaymentMethod": {
            "type": "array",
            "description": "What collected the money. A sale paid by several methods counts under the one that paid most; 'Unattributed' is collected with no real-money payment behind it.",
            "items": {
              "type": "object",
              "properties": {
                "method": {
                  "type": "string"
                },
                "channel": {
                  "type": "string",
                  "nullable": true
                },
                "collected": {
                  "type": "number"
                },
                "share": {
                  "type": "number"
                }
              }
            }
          },
          "topItems": {
            "type": "array",
            "description": "What sold most: a class or court, a plan, a product.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PlatformRevenueBreakdown"
                },
                {
                  "type": "object",
                  "properties": {
                    "stream": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "trend": {
            "type": "object",
            "properties": {
              "granularity": {
                "type": "string",
                "enum": [
                  "day",
                  "week",
                  "month"
                ]
              },
              "points": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "start": {
                      "type": "string",
                      "format": "date"
                    },
                    "revenue": {
                      "type": "number"
                    },
                    "collected": {
                      "type": "number"
                    },
                    "sales": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "movers": {
            "type": "array",
            "description": "The streams, clubs and items whose revenue moved most against the comparison period, largest move first. Empty without a comparison.",
            "items": {
              "type": "object",
              "properties": {
                "dimension": {
                  "type": "string",
                  "enum": [
                    "stream",
                    "club",
                    "item"
                  ]
                },
                "label": {
                  "type": "string"
                },
                "revenue": {
                  "type": "number"
                },
                "previousRevenue": {
                  "type": "number"
                },
                "change": {
                  "$ref": "#/components/schemas/PlatformRevenueChange"
[...]
