{
  "openapi": "3.0.0",
  "info": {
    "title": "1Club Platform API",
    "version": "1.0.0",
    "description": "The 1Club Platform API lets you programmatically access and manage your organization's data.\n\n## Official API Contract\n\nThis documentation is the official source of truth for the 1Club Platform API.\nIf an integration relies on undocumented endpoints, fields, response shapes, or internal behavior outside this spec, we can't guarantee backward compatibility.\nBuild against what's documented here to stay stable as the platform evolves.\n\n## Authentication\n\nAll requests require a customer API key passed as a Bearer token:\n\n```\nAuthorization: Bearer 1club_sk_live_...\n```\n\nGenerate API keys from the admin portal under **Settings > API Tokens**.\nThe key is tied to your organization — all responses are scoped to your org's data.\n\n## Rate Limiting\n\n- **100 requests per minute** per API key\n- When exceeded, the API returns `429 Too Many Requests` with a `Retry-After` header\n- Rate limit headers are included in every response:\n  - `X-RateLimit-Limit` — max requests per window\n  - `X-RateLimit-Remaining` — requests remaining\n  - `X-RateLimit-Reset` — seconds until the window resets\n\n## Errors\n\n| Status | Meaning |\n|--------|---------|\n| `400` | Invalid request parameters |\n| `401` | Missing or invalid API key |\n| `404` | Resource not found (or doesn't belong to your organization) |\n| `429` | Rate limit exceeded |\n| `500` | Internal server error |",
    "contact": {
      "name": "1Club API Support",
      "email": "support@1club.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.1club.ai",
      "description": "Production API"
    }
  ],
  "components": {
    "securitySchemes": {
      "customerApiAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Organization-scoped bearer credential: a customer API key (1club_sk_live_...) or an MCP OAuth access token."
      }
    },
    "schemas": {
      "PlatformClassCreate": {
        "type": "object",
        "required": [
          "clubId",
          "name",
          "startTime",
          "endTime"
        ],
        "properties": {
          "clubId": {
            "type": "integer"
          },
          "areaId": {
            "type": "integer",
            "nullable": true
          },
          "classTypeId": {
            "type": "integer",
            "nullable": true
          },
          "instructorIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "maxItems": 20
          },
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 5000
          },
          "price": {
            "type": "number",
            "minimum": 0
          },
          "isFree": {
            "type": "boolean"
          },
          "maxCapacity": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 instant with an explicit offset."
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 instant with an explicit offset."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Private",
              "Member_only",
              "Public"
            ]
          },
          "sport": {
            "type": "string",
            "nullable": true,
            "maxLength": 60
          },
          "color": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{6}$"
          }
        }
      },
      "PlatformClassUpdate": {
        "type": "object",
        "properties": {
          "clubId": {
            "type": "integer"
          },
          "areaId": {
            "type": "integer",
            "nullable": true
          },
          "classTypeId": {
            "type": "integer",
            "nullable": true
          },
          "instructorIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "maxItems": 20
          },
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 5000
          },
          "price": {
            "type": "number",
            "minimum": 0
          },
          "isFree": {
            "type": "boolean"
          },
          "maxCapacity": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 instant with an explicit offset."
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 instant with an explicit offset."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Private",
              "Member_only",
              "Public"
            ]
          },
          "sport": {
            "type": "string",
            "nullable": true,
            "maxLength": 60
          },
          "color": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{6}$"
          }
        }
      },
      "PlatformPlanCreate": {
        "type": "object",
        "required": [
          "name",
          "price"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 5000
          },
          "clubId": {
            "type": "integer",
            "nullable": true
          },
          "price": {
            "type": "number",
            "minimum": 0
          },
          "signupFee": {
            "type": "number",
            "minimum": 0
          },
          "billingFrequency": {
            "type": "string",
            "enum": [
              "one_time",
              "weekly",
              "monthly",
              "quarterly",
              "annually",
              "custom"
            ]
          },
          "customPeriod": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "customPeriodUnit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "days",
              "weeks",
              "months"
            ]
          },
          "isActive": {
            "type": "boolean"
          },
          "maxUses": {
            "type": "number",
            "nullable": true,
            "minimum": 0
          },
          "sessionUnit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "booking",
              "hour"
            ]
          },
          "validityPeriod": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "autoRenews": {
            "type": "boolean"
          },
          "renewalDaysInAdvance": {
            "type": "integer",
            "minimum": 0,
            "maximum": 60
          },
          "requirePaymentUpfront": {
            "type": "boolean"
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 50
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Private",
              "Member_only",
              "Public"
            ]
          },
          "validFor": {
            "type": "object",
            "properties": {
              "scopes": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "classes",
                    "areas",
                    "instructors"
                  ]
                }
              },
              "classTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "areaTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "instructorTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "PlatformPlanUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 5000
          },
          "clubId": {
            "type": "integer",
            "nullable": true
          },
          "price": {
            "type": "number",
            "minimum": 0
          },
          "signupFee": {
            "type": "number",
            "minimum": 0
          },
          "billingFrequency": {
            "type": "string",
            "enum": [
              "one_time",
              "weekly",
              "monthly",
              "quarterly",
              "annually",
              "custom"
            ]
          },
          "customPeriod": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "customPeriodUnit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "days",
              "weeks",
              "months"
            ]
          },
          "isActive": {
            "type": "boolean"
          },
          "maxUses": {
            "type": "number",
            "nullable": true,
            "minimum": 0
          },
          "sessionUnit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "booking",
              "hour"
            ]
          },
          "validityPeriod": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "autoRenews": {
            "type": "boolean"
          },
          "renewalDaysInAdvance": {
            "type": "integer",
            "minimum": 0,
            "maximum": 60
          },
          "requirePaymentUpfront": {
            "type": "boolean"
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 50
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Private",
              "Member_only",
              "Public"
            ]
          },
          "validFor": {
            "type": "object",
            "properties": {
              "scopes": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "classes",
                    "areas",
                    "instructors"
                  ]
                }
              },
              "classTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "areaTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "instructorTypes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "PlatformInstructor": {
        "type": "object",
        "description": "Public instructor shape returned alongside classes.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "contactId": {
            "type": "integer"
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "typeId": {
            "type": "integer",
            "nullable": true
          },
          "type": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "experience": {
            "type": "string",
            "nullable": true
          },
          "hourlyRate": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "bio": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "EditorJS document for the instructor bio."
          },
          "certifications": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isActive": {
            "type": "boolean"
          },
          "isBookable": {
            "type": "boolean"
          },
          "contact": {
            "type": "object",
            "nullable": true,
            "properties": {
              "name": {
                "type": "string",
                "nullable": true
              },
              "profileImage": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "PlatformClass": {
        "type": "object",
        "description": "A class returned by the platform API, including scheduling, capacity, pricing (with tax), club/area context, instructors, and computed status fields.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "classType": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "slug": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "isMultiDay": {
            "type": "boolean"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Duration in hours when present."
          },
          "maxCapacity": {
            "type": "integer",
            "nullable": true
          },
          "price": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Price including any applicable default tax."
          },
          "isFree": {
            "type": "boolean"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Public",
              "Member_only",
              "Private"
            ]
          },
          "status": {
            "type": "string"
          },
          "recurrence": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "sport": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "club": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "slug": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "area": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "instructors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformInstructor"
            }
          },
          "timeStatus": {
            "type": "string",
            "nullable": true
          },
          "availabilityStatus": {
            "type": "string",
            "nullable": true
          },
          "userStatus": {
            "type": "string",
            "nullable": true
          },
          "waitlistPosition": {
            "type": "integer",
            "nullable": true
          },
          "currentBookings": {
            "type": "integer",
            "nullable": true
          },
          "translations": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Per-locale translations keyed by language code (e.g. 'es', 'fr')."
          }
        }
      },
      "PlatformClub": {
        "type": "object",
        "description": "A club with its address, contact info, amenities, sports, aggregated images, and average rating.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "logo": {
            "type": "string",
            "nullable": true
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "All images aggregated from the club and its active areas."
          },
          "amenities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Raw amenity IDs stored on the club."
          },
          "amenitiesResolved": {
            "type": "array",
            "description": "Amenities resolved to display objects (id, name, locale-aware).",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "icon": {
                  "type": "string",
                  "nullable": true
                },
                "category": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rating": {
            "type": "object",
            "nullable": true,
            "description": "Average and total of public reviews. Omitted when there are no public reviews.",
            "properties": {
              "average": {
                "type": "number",
                "format": "float"
              },
              "total": {
                "type": "integer"
              }
            }
          },
          "socialProfiles": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Map of social network keys (e.g. 'instagram') to profile URLs."
          }
        }
      },
      "PlatformContent": {
        "type": "object",
        "description": "A published content item (FAQ, post, document, or block) for the organization.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "organizationId": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "faq",
              "post",
              "document",
              "block"
            ]
          },
          "status": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Public",
              "Member_only",
              "Private"
            ]
          },
          "content": {
            "type": "object",
            "description": "Body of the content item. May contain HTML, EditorJS blocks, a summary, and keywords.",
            "properties": {
              "html": {
                "type": "string",
                "nullable": true
              },
              "blocks": {
                "type": "object",
                "nullable": true,
                "additionalProperties": true,
                "description": "EditorJS document."
              },
              "summary": {
                "type": "string",
                "nullable": true
              },
              "keywords": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "excerpt": {
            "type": "string",
            "nullable": true
          },
          "metaTitle": {
            "type": "string",
            "nullable": true
          },
          "metaDescription": {
            "type": "string",
            "nullable": true
          },
          "metaKeywords": {
            "type": "string",
            "nullable": true
          },
          "canonicalUrl": {
            "type": "string",
            "nullable": true
          },
          "template": {
            "type": "string",
            "nullable": true
          },
          "layout": {
            "type": "string",
            "nullable": true
          },
          "customFields": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "featured": {
            "type": "boolean",
            "nullable": true
          },
          "authorId": {
            "type": "integer",
            "nullable": true
          },
          "author": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "profileImage": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "language": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "PlatformIdentity": {
        "type": "object",
        "description": "Describes the authorized organization, the scopes granted to the bearer credential, and the catalog of available platform resources.",
        "properties": {
          "organization": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              }
            }
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scopes granted to the bearer credential (e.g. \"classes:read\")."
          },
          "resources": {
            "type": "array",
            "description": "Catalog of resources and the actions each supports.",
            "items": {
              "type": "object",
              "properties": {
                "resource": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "actions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "PlatformTransaction": {
        "type": "object",
        "description": "A billing transaction with amounts, payment status, and links to the originating booking or membership.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "transactionType": {
            "type": "string",
            "nullable": true,
            "description": "TransactionType enum value (e.g. booking_creation, membership_creation, product_sale, membership_recurrence, etc.)."
          },
          "bookingId": {
            "type": "integer",
            "nullable": true
          },
          "membershipId": {
            "type": "integer",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "pending",
              "paid",
              "void",
              "failed",
              "settled",
              "overdue",
              "partially_paid",
              "refunded",
              "cancelled"
            ]
          },
          "amount": {
            "type": "string",
            "description": "Pre-tax amount as a decimal string (e.g. \"25.00\"). Serialized as a string to preserve precision."
          },
          "taxAmount": {
            "type": "string",
            "description": "Tax portion as a decimal string."
          },
          "totalAmount": {
            "type": "string",
            "description": "Total billed amount as a decimal string (amount + taxAmount)."
          }
        }
      },
      "PlatformBooking": {
        "type": "object",
        "description": "A booking created through the platform API. Recorded with a booking transaction so it counts for revenue, marked paid (settled against the External / API payment method) or unpaid (outstanding) per the caller. Refunds and collection stay with the caller.",
        "properties": {
          "bookingId": {
            "type": "integer",
            "description": "1Club booking id"
          },
          "status": {
            "type": "string",
            "description": "Booking status (e.g. confirmed, cancelled)"
          },
          "areaId": {
            "type": "integer",
            "nullable": true,
            "description": "Area id"
          },
          "instructorId": {
            "type": "integer",
            "nullable": true,
            "description": "Instructor leading the session, when one is attached"
          },
          "contactId": {
            "type": "integer",
            "nullable": true,
            "description": "Contact the booking is for"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "payment": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "paid",
                  "unpaid",
                  "no_charge"
                ],
                "description": "`no_charge` means nothing was ever owed (a free area, or an amount of 0), so there is no transaction to settle."
              },
              "amount": {
                "type": "number",
                "nullable": true,
                "description": "Recorded amount in the organization's currency"
              }
            }
          }
        }
      },
      "PlatformBookingListItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PlatformBooking"
          },
          {
            "type": "object",
            "properties": {
              "clubId": {
                "type": "integer",
                "nullable": true
              },
              "source": {
                "type": "string",
                "nullable": true,
                "description": "Channel that created the booking (api, admin, portal, app, kiosk, network, website, integration)."
              },
              "notes": {
                "type": "string",
                "nullable": true
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "PlatformBookingPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformBookingListItem"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total bookings matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformContact": {
        "type": "object",
        "description": "A contact (customer) in the organization. Reference the `id` as `contactId` when creating a booking.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "Derived contact type (e.g. contact, member, lead)."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformContactPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformContact"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total contacts matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformInstructorSummary": {
        "type": "object",
        "description": "An instructor (coach) in the organization, as returned by the instructors resource. Reference the `id` as `instructorId` when creating a booking. Leaner than the `PlatformInstructor` profile embedded in class payloads: this carries only what is needed to pick and price a coach.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Public display name when set, otherwise the linked contact name."
          },
          "clubId": {
            "type": "integer",
            "nullable": true,
            "description": "Club the instructor belongs to; null when org-wide."
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hourlyRate": {
            "type": "number",
            "nullable": true,
            "description": "Added to the area price when pricing a booking with this instructor."
          },
          "isBookable": {
            "type": "boolean",
            "description": "Whether the instructor takes one-on-one bookings. A booking naming a non-bookable instructor is always rejected."
          },
          "maxConcurrentBookings": {
            "type": "integer"
          },
          "operatingHours": {
            "type": "object",
            "description": "Per-day-of-week availability schedule"
          }
        }
      },
      "PlatformInstructorPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformInstructorSummary"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total instructors matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformMembership": {
        "type": "object",
        "description": "A customer's membership on a plan. The plan is snapshotted onto it at creation, so allowance and coverage behave exactly as they do for a membership sold in 1Club.",
        "properties": {
          "membershipId": {
            "type": "integer"
          },
          "contactId": {
            "type": "integer",
            "description": "Customer the membership belongs to"
          },
          "planId": {
            "type": "integer"
          },
          "planName": {
            "type": "string",
            "nullable": true
          },
          "clubId": {
            "type": "integer",
            "nullable": true,
            "description": "Club the membership is limited to; null when it applies organization-wide."
          },
          "status": {
            "type": "string",
            "description": "active, paused, cancelled, expired, used, pending, or pending_payment"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "renewalDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "autoRenew": {
            "type": "boolean"
          },
          "price": {
            "type": "number",
            "nullable": true
          },
          "billingFrequency": {
            "type": "string"
          },
          "maxUses": {
            "type": "number",
            "nullable": true,
            "description": "Session allowance snapshotted from the plan; null when unlimited."
          },
          "usesRemaining": {
            "type": "number",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformMembershipPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformMembership"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total memberships matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformPlan": {
        "type": "object",
        "description": "A membership plan. It carries its own price, joining fee, billing frequency and session allowance, so creating a membership only has to name the plan and the customer.",
        "properties": {
          "planId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "clubId": {
            "type": "integer",
            "nullable": true,
            "description": "Club the plan is limited to; null when organization-wide."
          },
          "price": {
            "type": "number",
            "description": "Charged each billing period."
          },
          "signupFee": {
            "type": "number",
            "description": "Charged once when the membership starts, on top of the price."
          },
          "billingFrequency": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean",
            "description": "False for a retired plan that is no longer sold."
          },
          "maxUses": {
            "type": "number",
            "nullable": true,
            "description": "Session allowance a membership gets; null when unlimited."
          },
          "sessionUnit": {
            "type": "string",
            "nullable": true,
            "description": "What a use is counted in - a booking or an hour."
          },
          "validityPeriod": {
            "type": "integer",
            "nullable": true,
            "description": "Days the membership stays valid, when time-limited."
          },
          "autoRenews": {
            "type": "boolean",
            "description": "Whether a membership on this plan renews by default."
          },
          "renewalDaysInAdvance": {
            "type": "integer"
          },
          "requirePaymentUpfront": {
            "type": "boolean"
          },
          "customPeriod": {
            "type": "integer",
            "nullable": true
          },
          "customPeriodUnit": {
            "type": "string",
            "nullable": true
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "visibility": {
            "type": "string",
            "enum": [
              "Private",
              "Member_only",
              "Public"
            ]
          },
          "validFor": {
            "type": "object",
            "additionalProperties": true,
            "description": "Booking resource scopes and optional type filters covered by the plan."
          },
          "sports": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PlatformPlanPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformPlan"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total plans matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PlatformCheckin": {
        "type": "object",
        "description": "An attendance record for a booking, class, membership, or direct gym visit.",
        "properties": {
          "checkinId": {
            "type": "integer"
          },
          "contactId": {
            "type": "integer",
            "nullable": true
          },
          "clubId": {
            "type": "integer"
          },
          "classId": {
            "type": "integer",
            "nullable": true
          },
          "bookingId": {
            "type": "integer",
            "nullable": true
          },
          "membershipId": {
            "type": "integer",
            "nullable": true
          },
          "externalProgramId": {
            "type": "integer",
            "nullable": true
          },
          "entranceMethod": {
            "type": "string",
            "nullable": true
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "contact": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "club": {
            "type": "object",
            "additionalProperties": true
          },
          "class": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "booking": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "membership": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "externalProgram": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          }
        }
      },
      "PlatformCheckinPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformCheckin"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total check-ins matching the filters, ignoring pagination"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      }
    },
    "responses": {
      "PlatformBadRequest": {
        "description": "Invalid request (bad parameters, or a body that fails validation)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlatformError"
            }
          }
        }
      },
      "PlatformUnauthorized": {
        "description": "Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlatformError"
            }
          }
        }
      },
      "PlatformForbidden": {
        "description": "The API key is missing the scope this endpoint requires",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlatformError"
            }
          }
        }
      },
      "PlatformNotFound": {
        "description": "The requested resource does not exist in this organization",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlatformError"
            }
          }
        }
      },
      "PlatformConflict": {
        "description": "The request conflicts with existing state, or reuses an Idempotency-Key with a different body",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlatformError"
            }
          }
        }
      },
      "PlatformRateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlatformError"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "customerApiAuth": []
    }
  ],
  "paths": {
    "/v1/platform/areas": {
      "get": {
        "summary": "List bookable areas",
        "description": "Returns the organization's bookable areas (e.g. padel courts). Optionally filter by club or sport (e.g. `padel`). Use the returned area `id` as `areaId` when creating a booking.\n",
        "tags": [
          "Areas"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "clubId",
            "schema": {
              "type": "integer"
            },
            "description": "Only return areas belonging to this club"
          },
          {
            "in": "query",
            "name": "sport",
            "schema": {
              "type": "string"
            },
            "description": "Only return areas whose area type lists this sport (e.g. \"padel\")"
          }
        ],
        "responses": {
          "200": {
            "description": "List of bookable areas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "clubId": {
                        "type": "integer"
                      },
                      "sports": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "pricePerHour": {
                        "type": "number",
                        "nullable": true
                      },
                      "maxConcurrentBookings": {
                        "type": "integer"
                      },
                      "operatingHours": {
                        "type": "object",
                        "description": "Per-day-of-week opening schedule"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "403": {
            "description": "API key is missing the required `areas:read` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/areas/{areaId}/availability": {
      "get": {
        "summary": "Get area availability",
        "description": "Returns the area's club timezone, operating hours, the intervals already taken (`busy`), and computed open `slots` (with remaining capacity) for the window. Send `If-None-Match` with the last `version` you saw to get a cheap `304` when nothing changed. 1Club remains the source of truth: booking creation re-checks availability atomically and rejects conflicts.\n",
        "tags": [
          "Areas"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "areaId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Area id"
          },
          {
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Window start (ISO date-time)"
          },
          {
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Window end (ISO date-time). At most 31 days after `from`."
          },
          {
            "in": "query",
            "name": "slotMinutes",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                15,
                30,
                60,
                90,
                120
              ],
              "default": 60
            },
            "description": "Granularity of computed slots in minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "Area availability",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "areaId": {
                      "type": "integer"
                    },
                    "from": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "to": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "timezone": {
                      "type": "string",
                      "description": "IANA timezone the hours are expressed in"
                    },
                    "maxConcurrentBookings": {
                      "type": "integer"
                    },
                    "version": {
                      "type": "string",
                      "description": "Consistency token (highest change sequence for this area)"
                    },
                    "operatingHours": {
                      "type": "object",
                      "description": "Per-day-of-week opening schedule"
                    },
                    "busy": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "endTime": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "slots": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "start": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "capacity": {
                            "type": "integer"
                          },
                          "remaining": {
                            "type": "integer"
                          },
                          "bookable": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not modified (matched `If-None-Match`)"
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "403": {
            "description": "API key is missing the required `areas:read` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "404": {
            "description": "Area not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/availability": {
      "get": {
        "summary": "Get club-wide availability grid",
        "description": "Returns computed open slots for every bookable area in one call, so you can render a whole calendar without a request per court. Filter by `clubId` and/or `sport`. Each area carries its own `version`; the top-level `cursor` is the reconciliation cursor to pass to `/availability/changes` next.\n",
        "tags": [
          "Areas"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "clubId",
            "schema": {
              "type": "integer"
            },
            "description": "Only include areas belonging to this club"
          },
          {
            "in": "query",
            "name": "sport",
            "schema": {
              "type": "string"
            },
            "description": "Only include areas whose type lists this sport (e.g. \"padel\")"
          },
          {
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Window start (ISO date-time)"
          },
          {
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Window end (ISO date-time). At most 31 days after `from`."
          },
          {
            "in": "query",
            "name": "slotMinutes",
            "schema": {
              "type": "integer",
              "enum": [
                15,
                30,
                60,
                90,
                120
              ],
              "default": 60
            },
            "description": "Granularity of computed slots in minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "Club availability grid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "clubId": {
                      "type": "integer",
                      "nullable": true
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "to": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Reconciliation cursor at read time"
                    },
                    "areas": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "areaId": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "sports": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "pricePerHour": {
                            "type": "number",
                            "nullable": true
                          },
                          "maxConcurrentBookings": {
                            "type": "integer"
                          },
                          "version": {
                            "type": "string"
                          },
                          "operatingHours": {
                            "type": "object"
                          },
                          "busy": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "startTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "endTime": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              }
                            }
                          },
                          "slots": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "start": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "end": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "capacity": {
                                  "type": "integer"
                                },
                                "remaining": {
                                  "type": "integer"
                                },
                                "bookable": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "403": {
            "description": "API key is missing the required `areas:read` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/availability/changes": {
      "get": {
        "summary": "Availability change feed (reconciliation)",
        "description": "Returns the availability changes for your organization with `sequence > since`, in order. Use it to catch up after missed webhooks: pass the last `cursor` you processed, apply the returned changes by re-pulling `/availability` for the affected areas/windows, then store the new `cursor`. This feed is the authoritative backstop for the webhook stream.\n",
        "tags": [
          "Areas"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "since",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cursor to read after (0 for the beginning of retention)."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            },
            "description": "Max changes to return."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of availability changes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "changes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sequence": {
                            "type": "string"
                          },
                          "clubId": {
                            "type": "integer",
                            "nullable": true
                          },
                          "areaId": {
                            "type": "integer"
                          },
                          "from": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "to": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "reason": {
                            "type": "string"
                          },
                          "occurredAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "cursor": {
                      "type": "string"
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "403": {
            "description": "API key is missing the required `areas:read` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/bookings": {
      "post": {
        "summary": "Create a booking",
        "description": "Creates a booking on an area (e.g. a padel court), optionally with an instructor leading the session. Identify the customer with `contactId` (resolve it via GET /v1/platform/contacts) or, for callers that do not track 1Club ids, with an inline `customer` matched to a contact by email and created if new — exactly one of the two.\n\nA booking transaction is recorded so the booking counts for revenue: `paid` marks it settled against the External / API payment method (no gateway call), `unpaid` leaves it outstanding. `amount` defaults to the computed price for the slot — the area's price, plus the instructor's hourly rate when one is attached.\n\nThis API assumes the calling system enforces its own booking rules, so 1Club's member-facing policy (minimum notice, maximum days in advance, operating-hours envelope, slots that have already ended) is not applied — which is what lets an existing schedule be recorded as-is. Physical constraints always apply: a real double-booking, the area's concurrency capacity, and whether an instructor takes one-on-one bookings.\n",
        "tags": [
          "Bookings"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Retry-safe key; a repeat of the same request replays the first response instead of creating a second booking"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "areaId",
                  "startTime",
                  "endTime",
                  "payment"
                ],
                "properties": {
                  "areaId": {
                    "type": "integer",
                    "description": "Area id (from GET /v1/platform/areas)"
                  },
                  "startTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "endTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "contactId": {
                    "type": "integer",
                    "description": "Existing contact to book for (from GET /v1/platform/contacts). Mutually exclusive with `customer`."
                  },
                  "customer": {
                    "type": "object",
                    "description": "Inline find-or-create by email. Mutually exclusive with `contactId`.",
                    "required": [
                      "email"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "firstName": {
                        "type": "string"
                      },
                      "lastName": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      }
                    }
                  },
                  "instructorId": {
                    "type": "integer",
                    "description": "Instructor leading the session (from GET /v1/platform/instructors). Must be bookable for one-on-one sessions."
                  },
                  "payment": {
                    "type": "object",
                    "required": [
                      "status"
                    ],
                    "properties": {
                      "status": {
                        "type": "string",
                        "enum": [
                          "paid",
                          "unpaid"
                        ]
                      },
                      "amount": {
                        "type": "number",
                        "maximum": 1000000,
                        "description": "Amount collected; defaults to the area price plus the instructor's hourly rate"
                      }
                    }
                  },
                  "channel": {
                    "type": "string",
                    "description": "Optional channel label, stored for attribution"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "notifyCustomer": {
                    "type": "boolean",
                    "default": false,
                    "description": "Send the customer a 1Club booking confirmation email. Off by default — callers normally send their own."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booking created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformBooking"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/PlatformBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/PlatformUnauthorized"
          },
          "403": {
            "description": "API key is missing the required `bookings:write` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/PlatformConflict"
          },
          "429": {
            "$ref": "#/components/responses/PlatformRateLimited"
          }
        }
      },
      "get": {
        "summary": "List bookings",
        "description": "Returns bookings whose start time falls in the requested window, ordered by start time. The window may span at most 92 days; when `from`/`to` are omitted it defaults to the next 7 days, and passing one derives the other.\n\nUnlike GET and cancel by id — which only act on bookings this API created — this returns bookings from every channel, each tagged with `source`. That is deliberate: a caller reconciling its own writes has to be able to see member- and staff-created bookings to know whether a slot was already taken.\n",
        "tags": [
          "Bookings"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive lower bound on booking start time. Defaults to `to - 7d`, or now."
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive upper bound on booking start time. Defaults to `from + 7d`."
          },
          {
            "in": "query",
            "name": "clubId",
            "schema": {
              "type": "integer"
            },
            "description": "Only bookings at this club"
          },
          {
            "in": "query",
            "name": "areaId",
            "schema": {
              "type": "integer"
            },
            "description": "Only bookings on this area"
          },
          {
            "in": "query",
            "name": "instructorId",
            "schema": {
              "type": "integer"
            },
            "description": "Only bookings led by this instructor"
          },
          {
            "in": "query",
            "name": "contactId",
            "schema": {
              "type": "integer"
            },
            "description": "Only bookings for this contact"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            },
            "description": "Only bookings with this status (e.g. confirmed, pending, cancelled)"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum number of bookings to return"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Number of bookings to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Page of bookings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformBookingPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/PlatformBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/PlatformUnauthorized"
          },
          "403": {
            "description": "API key is missing the required `bookings:read` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/PlatformRateLimited"
          }
        }
      }
    },
    "/v1/platform/bookings/{id}/cancel": {
      "post": {
        "summary": "Cancel a booking",
        "description": "Cancels the booking by its 1Club id. No refund is issued by 1Club — the caller owns refunds. Idempotent: cancelling an already-cancelled booking succeeds.\n",
        "tags": [
          "Bookings"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "1Club booking id (returned by create)"
          }
        ],
        "responses": {
          "200": {
            "description": "Booking cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bookingId": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string",
                      "example": "cancelled"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/PlatformBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/PlatformUnauthorized"
          },
          "403": {
            "description": "API key is missing the required `bookings:write` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/PlatformNotFound"
          },
          "429": {
            "$ref": "#/components/responses/PlatformRateLimited"
          }
        }
      }
    },
    "/v1/platform/bookings/{id}": {
      "get": {
        "summary": "Get a booking",
        "description": "Returns the current state of a booking (including payment status) by its 1Club id.",
        "tags": [
          "Bookings"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "1Club booking id"
          }
        ],
        "responses": {
          "200": {
            "description": "Booking state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformBooking"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/PlatformBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/PlatformUnauthorized"
          },
          "403": {
            "description": "API key is missing the required `bookings:read` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/PlatformNotFound"
          },
          "429": {
            "$ref": "#/components/responses/PlatformRateLimited"
          }
        }
      }
    },
    "/v1/platform/bookings/{id}/participants": {
      "get": {
        "summary": "List the additional players on a booking",
        "description": "Returns the extra players on a booking created through this API. The person the booking is for (the organizer) is on the booking itself as `contactId` and is not repeated here.\n",
        "tags": [
          "Bookings"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "1Club booking id"
          }
        ],
        "responses": {
          "200": {
            "description": "The booking's additional players",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "contactId": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/PlatformBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/PlatformUnauthorized"
          },
          "403": {
            "description": "API key is missing the required `bookings:read` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/PlatformNotFound"
          },
          "429": {
            "$ref": "#/components/responses/PlatformRateLimited"
          }
        }
      },
      "post": {
        "summary": "Add a player to a booking",
        "description": "Adds another player to a booking created through this API — for a doubles court, the three players joining the organizer. The contact must already exist (create it via POST /v1/platform/contacts). The total, counting the organizer, is capped by the area type's maximum players.\n",
        "tags": [
          "Bookings"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "1Club booking id"
          },
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Retry-safe key; a repeat of the same request replays the first response"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contactId"
                ],
                "properties": {
                  "contactId": {
                    "type": "integer",
                    "description": "Contact to add as a player"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Player added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bookingId": {
                      "type": "integer"
                    },
                    "contactId": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/PlatformBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/PlatformUnauthorized"
          },
          "403": {
            "description": "API key is missing the required `bookings:write` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/PlatformNotFound"
          },
          "409": {
            "$ref": "#/components/responses/PlatformConflict"
          },
          "429": {
            "$ref": "#/components/responses/PlatformRateLimited"
          }
        }
      }
    },
    "/v1/platform/bookings/{id}/participants/{contactId}": {
      "delete": {
        "summary": "Remove a player from a booking",
        "description": "Removes an additional player from a booking created through this API.",
        "tags": [
          "Bookings"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "1Club booking id"
          },
          {
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Contact to remove"
          }
        ],
        "responses": {
          "204": {
            "description": "Player removed"
          },
          "400": {
            "$ref": "#/components/responses/PlatformBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/PlatformUnauthorized"
          },
          "403": {
            "description": "API key is missing the required `bookings:write` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/PlatformNotFound"
          },
          "429": {
            "$ref": "#/components/responses/PlatformRateLimited"
          }
        }
      }
    },
    "/v1/platform/checkins": {
      "get": {
        "summary": "List check-ins",
        "description": "Lists attendance records for the organization, newest first.",
        "tags": [
          "Check-ins"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "contactId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "clubId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "classId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "bookingId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of check-ins",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformCheckinPage"
                }
              }
            }
          },
          "403": {
            "description": "Missing `checkins:read` scope"
          }
        }
      },
      "post": {
        "summary": "Check in an existing booking",
        "description": "Records attendance for a booking during its configured check-in window. The booking must be `confirmed` or `pending`, and its payment and duplicate-attendance rules still apply. Supports the `Idempotency-Key` header.\n",
        "tags": [
          "Check-ins"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Retry-safe key; a repeat of the same request replays the first response"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bookingId"
                ],
                "properties": {
                  "bookingId": {
                    "type": "integer"
                  },
                  "clubId": {
                    "type": "integer",
                    "description": "Required only for a clubless event booking when no club can otherwise be derived. Must belong to the authorized organization."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Check-in created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformCheckin"
                }
              }
            }
          },
          "400": {
            "description": "The booking is not `confirmed` or `pending`",
            "has an unpaid balance": null,
            "or `clubId` is missing or not in this organization": null
          },
          "403": {
            "description": "Missing `checkins:write` scope or check-in is outside the allowed window"
          },
          "404": {
            "$ref": "#/components/responses/PlatformNotFound"
          },
          "409": {
            "description": "Booking is already checked in"
          }
        }
      }
    },
    "/v1/platform/checkins/{id}": {
      "get": {
        "summary": "Get a check-in",
        "tags": [
          "Check-ins"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Check-in details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformCheckin"
                }
              }
            }
          },
          "403": {
            "description": "Missing `checkins:read` scope"
          },
          "404": {
            "$ref": "#/components/responses/PlatformNotFound"
          }
        }
      }
    },
    "/v1/platform/classes": {
      "get": {
        "summary": "List classes for the organization",
        "description": "Returns all classes for the organization associated with the API token.\n",
        "tags": [
          "Classes"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter classes starting from this date"
          },
          {
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter classes ending before this date"
          },
          {
            "in": "query",
            "name": "locale",
            "schema": {
              "type": "string"
            },
            "description": "Locale for translations (e.g. \"en\", \"es\")"
          }
        ],
        "responses": {
          "200": {
            "description": "List of classes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlatformClass"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "403": {
            "description": "API key is missing the required `classes:read` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a class",
        "description": "Creates one class occurrence. Times must be ISO 8601 instants with an explicit offset. Supports the `Idempotency-Key` header.",
        "tags": [
          "Classes"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Retry-safe key; a repeat of the same request replays the first response"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformClassCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Class created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformClass"
                }
              }
            }
          },
          "403": {
            "description": "Missing `classes:write` scope"
          }
        }
      }
    },
    "/v1/platform/classes/{id}": {
      "get": {
        "summary": "Get a class by ID",
        "description": "Returns a single class. The class must belong to the organization associated with the API token.\n",
        "tags": [
          "Classes"
        ],
        "security": [
          {
            "customerApiAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Class ID"
          },
          {
            "in": "query",
            "name": "locale",
            "schema": {
              "type": "string"
            },
            "description": "Locale for translations"
          }
        ],
        "responses": {
          "200": {
            "description": "Class details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformClass"
                }
              }
            }
          },
          "400": {
            "description": "Invalid class ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "403": {
            "description": "API key is missing the required `classes:read` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
                }
              }
            }
          },
          "404": {
            "description": "Class not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformError"
[...]
